Repository semaphore-protocol/semaphore: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

chore: v4.2.0
  apps/docs/package.json
  packages/circuits/package.json
  packages/cli-template-contracts-hardhat/package.json
  packages/cli-template-monorepo-ethers/apps/contracts/package.json
  packages/cli-template-monorepo-ethers/apps/web-app/package.json
  packages/cli-template-monorepo-ethers/package.json
  packages/cli-template-monorepo-subgraph/apps/contracts/package.json
  packages/cli-template-monorepo-subgraph/apps/web-app/package.json
  packages/cli-template-monorepo-subgraph/package.json
  packages/cli/package.json
  packages/contracts/contracts/package.json
  packages/core/package.json
  packages/data/package.json
  packages/group/package.json
  packages/hardhat/package.json
  packages/identity/package.json
  packages/proof/package.json
  packages/utils/package.json
  yarn.lock
Due: prettier --write

chore(website): update roadmap.json
  apps/website/src/data/roadmap.json
Due: prettier --write

chore(website): update roadmap.json (#866)
  apps/website/src/data/roadmap.json
Due: prettier --write

ci: install `soldeer` in release workflow
  .github/workflows/release.yml
Due: none

chore: trigger release workflow
  .github/workflows/release.yml
  scripts/publish.ts
Due: prettier --write, eslint

chore(contracts): deploy semaphore contracts on base
  apps/subgraph/README.md
  packages/utils/src/networks/deployed-contracts.json
  packages/utils/src/networks/supported-networks.ts
Due: prettier --write, eslint

chore(contracts): deploy semaphore contracts on linea
  apps/subgraph/README.md
  packages/contracts/hardhat.config.ts
  packages/utils/src/networks/deployed-contracts.json
  packages/utils/src/networks/supported-networks.ts
Due: prettier --write, eslint

refactor(data): add types for new networks
  packages/data/src/types/index.ts
Due: prettier --write, eslint

Chore/mainnet deployments (#869)
  apps/subgraph/README.md
  packages/contracts/hardhat.config.ts
  packages/data/src/types/index.ts
  packages/utils/src/networks/deployed-contracts.json
  packages/utils/src/networks/supported-networks.ts
Due: prettier --write, eslint

chore: v4.3.0
  apps/docs/package.json
  packages/circuits/package.json
  packages/cli-template-contracts-hardhat/package.json
  packages/cli-template-monorepo-ethers/apps/contracts/package.json
  packages/cli-template-monorepo-ethers/apps/web-app/package.json
  packages/cli-template-monorepo-ethers/package.json
  packages/cli-template-monorepo-subgraph/apps/contracts/package.json
  packages/cli-template-monorepo-subgraph/apps/web-app/package.json
  packages/cli-template-monorepo-subgraph/package.json
  packages/cli/package.json
  packages/contracts/contracts/package.json
  packages/core/package.json
  packages/data/package.json
  packages/group/package.json
  packages/hardhat/package.json
  packages/identity/package.json
  packages/proof/package.json
  packages/utils/package.json
  yarn.lock
Due: prettier --write

chore(cli-template-monorepo-ethers): remove unused packages and update dotenv version
  packages/cli-template-monorepo-ethers/apps/web-app/package.json
Due: prettier --write

style(cli-template-monorepo-ethers): update stylesheet
  packages/cli-template-monorepo-ethers/apps/web-app/src/app/globals.css
Due: none

chore(cli-template-monorepo-ethers): update github logo
  packages/cli-template-monorepo-ethers/apps/web-app/src/components/PageContainer.tsx
Due: prettier --write, eslint

chore(cli-template-monorepo-ethers): add loader to join group button
  packages/cli-template-monorepo-ethers/apps/web-app/src/app/group/page.tsx
Due: prettier --write, eslint

chore(cli-template-monorepo-subgraph): update packages
  packages/cli-template-monorepo-subgraph/apps/web-app/package.json
Due: prettier --write

style(cli-template-monorepo-subgraph): update stylesheet
  packages/cli-template-monorepo-subgraph/apps/web-app/src/app/globals.css
Due: none

style(cli-template-monorepo-subgraph): update user interface
  packages/cli-template-monorepo-subgraph/apps/web-app/src/app/group/page.tsx
  packages/cli-template-monorepo-subgraph/apps/web-app/src/app/layout.tsx
  packages/cli-template-monorepo-subgraph/apps/web-app/src/app/page.tsx
  packages/cli-template-monorepo-subgraph/apps/web-app/src/app/proofs/page.tsx
  packages/cli-template-monorepo-subgraph/apps/web-app/src/components/PageContainer.tsx
  packages/cli-template-monorepo-subgraph/apps/web-app/src/components/Stepper.tsx
  packages/cli-template-monorepo-subgraph/apps/web-app/src/hooks/useSemaphore.ts
Due: prettier --write, eslint

chore: update yarn.lock
  yarn.lock
Due: none

build: move poseidon-lite to dependencies
  packages/group/package.json
  packages/group/rollup.config.ts
  packages/identity/package.json
  packages/identity/rollup.config.ts
  packages/proof/package.json
  yarn.lock
Due: prettier --write, eslint

build: move poseidon-lite to dependencies (#870)
  packages/group/package.json
  packages/group/rollup.config.ts
  packages/identity/package.json
  packages/identity/rollup.config.ts
  packages/proof/package.json
  yarn.lock
Due: prettier --write, eslint

chore(circuits): update dev dependencies
  packages/circuits/package.json
  yarn.lock
Due: prettier --write

chore(circuits): update circomkit dep version
  packages/circuits/package.json
  yarn.lock
Due: prettier --write

chore(circuits): update circomkit config
  packages/circuits/circomkit.json
Due: prettier --write

revert(circuits): set previous circomkit version as static
  packages/circuits/circomkit.json
  packages/circuits/package.json
  yarn.lock
Due: prettier --write

fix(circuits): add override for circom_runtime
  packages/circuits/package.json
Due: prettier --write

chore(circuits): use yarn syntax for overrides
  packages/circuits/package.json
Due: prettier --write

refactor(contracts): split SemaphoreVerifier verification key points into a separate library (#330)
  packages/contracts/contracts/base/SemaphoreVerifier.sol
  packages/contracts/contracts/base/SemaphoreVerifierKeyPts.sol
  packages/contracts/scripts/utils.ts
  packages/contracts/tasks/deploy.ts
Due: prettier --write, eslint

refactor(scripts): added a script to convert bigint to hex
  scripts/convert-dec-to-hex.ts
Due: prettier --write, eslint

ci(circuits): set static version of circom
  .github/workflows/production.yml
  .github/workflows/pull-requests.yml
  packages/circuits/package.json
Due: prettier --write

ci(circuits): set static version of circom (#874)
  .github/workflows/production.yml
  .github/workflows/pull-requests.yml
Due: none

Path conditions:
  prettier --write: any of: **/*.{js,ts,jsx,tsx,md,json,sol}
  eslint: any of: **/*.{js,ts,jsx,tsx}
