Repository semaphore-protocol/semaphore: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

Update yarn.lock
  yarn.lock
Due: none

docs(website): update roadmap to add semaphore noir implementation
  apps/website/src/data/roadmap.json
  packages/circuits/src/semaphore.circom
Due: prettier --write

docs(website): update roadmap to add semaphore noir implementation (#962)
  apps/website/src/data/roadmap.json
  packages/circuits/src/semaphore.circom
Due: prettier --write

Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: prettier --write

Update README.md
  apps/website/README.md
Due: prettier --write

Update README.md
  packages/cli/README.md
Due: prettier --write

Update page.tsx
  apps/website/src/app/projects/page.tsx
Due: prettier --write, eslint

Update page.tsx
  apps/website/src/app/page.tsx
Due: prettier --write, eslint

docs: add specification document link to website and docs
  apps/docs/versioned_docs/version-V4/what-is-semaphore.md
  apps/website/src/data/articles.json
Due: prettier --write

docs: add specification document link to website and docs (#965)
  apps/docs/versioned_docs/version-V4/what-is-semaphore.md
  apps/website/src/data/articles.json
Due: prettier --write

feat(data): implement Viem lib alternative to Ethers for @semaphore-protocol/data package class
  packages/data/README.md
  packages/data/package.json
  packages/data/src/index.ts
  packages/data/src/types/index.ts
  packages/data/src/viem.ts
  packages/data/tests/viem.test.ts
  yarn.lock
Due: prettier --write, eslint

chore(data): update yarn.lock for viem dependency
  yarn.lock
Due: none

chore(data): improve test coverage for SemaphoreViem class
  packages/data/tests/viem.test.ts
Due: prettier --write, eslint

chore: replace `map()` with `forEach()` for better clarity
  scripts/clean-apps.ts
Due: prettier --write, eslint

Update subgraph.md
  apps/docs/versioned_docs/version-V3/subgraph.md
Due: prettier --write

Update README.md
  apps/subgraph/README.md
Due: prettier --write

Update README.md
  packages/identity/README.md
Due: prettier --write

Update README.md
  packages/proof/README.md
Due: prettier --write

docs(website): add scaling semaphore with pir to the roadmap
  apps/website/src/data/roadmap.json
Due: prettier --write

docs(website): add scaling semaphore with pir to the roadmap (#969)
  apps/website/src/data/roadmap.json
Due: prettier --write

chore: update leanimt sol version
  packages/cli-template-contracts-foundry/package.json
  packages/contracts/contracts/package.json
  packages/contracts/package.json
  yarn.lock
Due: prettier --write

chore: update leanimt sol version (#970)
  packages/cli-template-contracts-foundry/package.json
  packages/contracts/contracts/package.json
  packages/contracts/package.json
  yarn.lock
Due: prettier --write

docs: add more info to the readme file about the release of the packages
  README.md
Due: prettier --write

docs: add more info to the readme file about the release of the packages (#971)
  README.md
Due: prettier --write

docs: update releases section in readme file
  README.md
Due: prettier --write

chore: v4.9.2
  apps/docs/package.json
  packages/circuits/package.json
  packages/cli-template-contracts-foundry/package.json
  packages/cli-template-contracts-hardhat/package.json
  packages/cli-template-monorepo-ethers/apps/contracts/package.json
  packages/cli-template-monorepo-ethers/apps/web-app/package.json
  packages/cli-template-monorepo-ethers/package.json
  packages/cli-template-monorepo-subgraph/apps/contracts/package.json
  packages/cli-template-monorepo-subgraph/apps/web-app/package.json
  packages/cli-template-monorepo-subgraph/package.json
  packages/cli/package.json
  packages/contracts/contracts/package.json
  packages/core/package.json
  packages/data/package.json
  packages/group/package.json
  packages/hardhat/package.json
  packages/identity/package.json
  packages/proof/package.json
  packages/utils/package.json
  yarn.lock
Due: prettier --write

chore(website): add a new project in project page
  apps/website/src/data/projects.json
Due: prettier --write

chore(website): add a new project in project page (#972)
  apps/website/src/data/projects.json
Due: prettier --write

fix Update .gitignore
  packages/cli-template-monorepo-ethers/apps/web-app/.gitignore
Due: none

Update faq.md
  apps/docs/versioned_docs/version-V4/faq.md
Due: prettier --write

fix: unnecessary use of `map()` for side effects
  scripts/clean-apps.ts
Due: prettier --write, eslint

Update contract-api.md
  apps/docs/versioned_docs/version-V1/contract-api.md
Due: prettier --write

docs(website): update events
  apps/website/src/data/events.json
Due: prettier --write

docs(website): update events (#979)
  apps/website/src/data/events.json
Due: prettier --write

chore: update semaphore contract address
  packages/utils/src/networks/deployed-contracts.json
  packages/utils/src/semaphore-interface.json
Due: prettier --write

feat: add ethereum as a supported network
  packages/utils/src/networks/deployed-contracts.json
  packages/utils/src/networks/supported-networks.ts
Due: prettier --write, eslint

feat: add ethereum subgraph and deploy subgraphs
  apps/subgraph/README.md
  apps/subgraph/package.json
  apps/subgraph/scripts/generate-subgraph.js
  packages/data/src/getURL.ts
Due: prettier --write, eslint

chore:deploy contracts (#980)
  apps/subgraph/README.md
  apps/subgraph/package.json
  apps/subgraph/scripts/generate-subgraph.js
  packages/data/src/getURL.ts
  packages/utils/src/networks/deployed-contracts.json
  packages/utils/src/networks/supported-networks.ts
  packages/utils/src/semaphore-interface.json
Due: prettier --write, eslint

chore: v4.10.0
  apps/docs/package.json
  packages/circuits/package.json
  packages/cli-template-contracts-foundry/package.json
  packages/cli-template-contracts-hardhat/package.json
  packages/cli-template-monorepo-ethers/apps/contracts/package.json
  packages/cli-template-monorepo-ethers/apps/web-app/package.json
  packages/cli-template-monorepo-ethers/package.json
  packages/cli-template-monorepo-subgraph/apps/contracts/package.json
  packages/cli-template-monorepo-subgraph/apps/web-app/package.json
  packages/cli-template-monorepo-subgraph/package.json
  packages/cli/package.json
  packages/contracts/contracts/package.json
  packages/core/package.json
  packages/data/package.json
  packages/group/package.json
  packages/hardhat/package.json
  packages/identity/package.json
  packages/proof/package.json
  packages/utils/package.json
  yarn.lock
Due: prettier --write

Path conditions:
  prettier --write: any of: **/*.{js,ts,jsx,tsx,md,json,sol}
  eslint: any of: **/*.{js,ts,jsx,tsx}
