Repository semaphore-protocol/semaphore: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

docs(website): update semaphore roadmap
  apps/website/src/data/roadmap.json
Due: prettier --write

docs(website): update semaphore roadmap (#981)
  apps/website/src/data/roadmap.json
Due: prettier --write

Update identities.mdx
  apps/docs/versioned_docs/version-V4/guides/identities.mdx
Due: none

Added warning to the Semaphore docs (#983)
  apps/docs/versioned_docs/version-V4/guides/identities.mdx
Due: none

feat(data): implement Viem lib alternative to SemaphoreEthers (#966)
  packages/data/README.md
  packages/data/package.json
  packages/data/src/index.ts
  packages/data/src/types/index.ts
  packages/data/src/viem.ts
  packages/data/tests/viem.test.ts
  yarn.lock
Due: prettier --write, eslint

chore: v4.11.0
  apps/docs/package.json
  apps/docs/versioned_docs/version-V4/guides/identities.mdx
  packages/circuits/package.json
  packages/cli-template-contracts-foundry/package.json
  packages/cli-template-contracts-hardhat/package.json
  packages/cli-template-monorepo-ethers/apps/contracts/package.json
  packages/cli-template-monorepo-ethers/apps/web-app/package.json
  packages/cli-template-monorepo-ethers/package.json
  packages/cli-template-monorepo-subgraph/apps/contracts/package.json
  packages/cli-template-monorepo-subgraph/apps/web-app/package.json
  packages/cli-template-monorepo-subgraph/package.json
  packages/cli/package.json
  packages/contracts/contracts/package.json
  packages/core/package.json
  packages/data/package.json
  packages/group/package.json
  packages/hardhat/package.json
  packages/identity/package.json
  packages/proof/package.json
  packages/utils/package.json
  yarn.lock
Due: prettier --write

fix(data): fix semaphore viem class
  packages/data/README.md
  packages/data/src/viem.ts
  packages/data/tests/viem.test.ts
Due: prettier --write, eslint

fix(data): fix semaphore viem class (#985)
  packages/data/README.md
  packages/data/src/viem.ts
  packages/data/tests/viem.test.ts
Due: prettier --write, eslint

chore: v4.11.1
  apps/docs/package.json
  packages/circuits/package.json
  packages/cli-template-contracts-foundry/package.json
  packages/cli-template-contracts-hardhat/package.json
  packages/cli-template-monorepo-ethers/apps/contracts/package.json
  packages/cli-template-monorepo-ethers/apps/web-app/package.json
  packages/cli-template-monorepo-ethers/package.json
  packages/cli-template-monorepo-subgraph/apps/contracts/package.json
  packages/cli-template-monorepo-subgraph/apps/web-app/package.json
  packages/cli-template-monorepo-subgraph/package.json
  packages/cli/package.json
  packages/contracts/contracts/package.json
  packages/core/package.json
  packages/data/package.json
  packages/group/package.json
  packages/hardhat/package.json
  packages/identity/package.json
  packages/proof/package.json
  packages/utils/package.json
  yarn.lock
Due: prettier --write

docs: update contributing file
  CONTRIBUTING.md
Due: prettier --write

docs: update pull request template
  .github/pull_request_template.md
Due: prettier --write

Docs/update contributing (#987)
  .github/pull_request_template.md
  CONTRIBUTING.md
Due: prettier --write

docs: add new issue link to contributing
  .github/pull_request_template.md
  CONTRIBUTING.md
Due: prettier --write

cocs: add new issue link (#988)
  .github/pull_request_template.md
  CONTRIBUTING.md
Due: prettier --write

test(data): add test coverage for getEvents utility
  packages/data/tests/getEvents.test.ts
Due: prettier --write, eslint

Test(data): add test coverage for getEvents utility (#989)
  packages/data/tests/getEvents.test.ts
Due: prettier --write, eslint

chore: fix typos
  types/ffjavascript/index.d.ts
Due: prettier --write, eslint

Update Semaphore.sol
  packages/contracts/contracts/Semaphore.sol
Due: prettier --write

Update SectionBlock.tsx
  apps/website/src/components/SectionBlock.tsx
Due: prettier --write, eslint

Update InfoCard.tsx
  apps/website/src/components/InfoCard.tsx
Due: prettier --write, eslint

Update ProjectsList.tsx
  apps/website/src/components/ProjectsList.tsx
Due: prettier --write, eslint

Update Carousel.tsx
  apps/website/src/components/Carousel.tsx
Due: prettier --write, eslint

docs(docs): add llm setup docs
  apps/docs/static/llms.txt
  apps/docs/versioned_docs/version-V4/credits.md
  apps/docs/versioned_docs/version-V4/faq.md
  apps/docs/versioned_docs/version-V4/llm-setup.md
  apps/docs/versioned_docs/version-V4/troubleshooting.md
Due: prettier --write

docs(website): add ethdam video recording
  apps/website/src/data/videos.json
Due: prettier --write

docs(website): add ethdam video recording (#996)
  apps/website/src/data/videos.json
Due: prettier --write

Fix broken link to Semaphore specification in documentation
  apps/docs/i18n/es/docusaurus-plugin-content-docs/version-V1/what-is-semaphore.md
Due: prettier --write

docs(proof): add documentation on terminating the bn128 curve to prevent resource leaks
  packages/proof/README.md
Due: prettier --write

fix(circuits)!: update binary merkle root circuit version
  packages/circuits/package.json
  packages/circuits/src/semaphore.circom
  packages/circuits/tests/common.ts
  packages/circuits/tests/semaphore.test.ts
  yarn.lock
Due: prettier --write, eslint

chore: update snarkjs version from 0.7.4 to 0.7.5
  package.json
  packages/proof/package.json
  yarn.lock
Due: prettier --write

Fix/update binary merkle root circuit version (#1000)
  package.json
  packages/circuits/package.json
  packages/circuits/src/semaphore.circom
  packages/circuits/tests/common.ts
  packages/circuits/tests/semaphore.test.ts
  packages/proof/package.json
  yarn.lock
Due: prettier --write, eslint

Update LICENSE
  LICENSE
Due: none

fix: optimize BigInt usage in hash function
  packages/proof/src/hash.ts
Due: prettier --write, eslint

refactor: allow injecting existing PublicClient into SemaphoreViem
  packages/data/src/types/index.ts
  packages/data/src/viem.ts
Due: prettier --write, eslint

fix: remove comment
  packages/data/src/viem.ts
Due: prettier --write, eslint

Allow injecting existing PublicClient into SemaphoreViem (#1006)
  packages/data/src/types/index.ts
  packages/data/src/viem.ts
Due: prettier --write, eslint

refactor: transport selection logic
  packages/data/src/viem.ts
Due: prettier --write, eslint

refactor: transport selection logic (#1007)
  packages/data/src/viem.ts
Due: prettier --write, eslint

chore: v4.12.0
  apps/docs/package.json
  packages/circuits/package.json
  packages/cli-template-contracts-foundry/package.json
  packages/cli-template-contracts-hardhat/package.json
  packages/cli-template-monorepo-ethers/apps/contracts/package.json
  packages/cli-template-monorepo-ethers/apps/web-app/package.json
  packages/cli-template-monorepo-ethers/package.json
  packages/cli-template-monorepo-subgraph/apps/contracts/package.json
  packages/cli-template-monorepo-subgraph/apps/web-app/package.json
  packages/cli-template-monorepo-subgraph/package.json
  packages/cli/package.json
  packages/contracts/contracts/package.json
  packages/core/package.json
  packages/data/package.json
  packages/group/package.json
  packages/hardhat/package.json
  packages/identity/package.json
  packages/proof/package.json
  packages/utils/package.json
  yarn.lock
Due: prettier --write

Path conditions:
  prettier --write: any of: **/*.{js,ts,jsx,tsx,md,json,sol}
  eslint: any of: **/*.{js,ts,jsx,tsx}
