Repository semaphore-protocol/semaphore: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc.json:

{
    "**/*.{js,ts,jsx,tsx,md,json,sol}": "prettier --write",
    "**/*.{js,ts,jsx,tsx}": "eslint"
}

refactor(contracts): support version range
  packages/contracts/contracts/Semaphore.sol
  packages/contracts/contracts/base/Constants.sol
  packages/contracts/contracts/base/SemaphoreGroups.sol
  packages/contracts/contracts/base/SemaphoreVerifier.sol
  packages/contracts/contracts/base/SemaphoreVerifierKeyPts.sol
  packages/contracts/contracts/interfaces/ISemaphore.sol
  packages/contracts/contracts/interfaces/ISemaphoreGroups.sol
  packages/contracts/contracts/interfaces/ISemaphoreVerifier.sol
Due: prettier --write

refactor(contracts): support version range (#891)
  packages/contracts/contracts/Semaphore.sol
  packages/contracts/contracts/base/Constants.sol
  packages/contracts/contracts/base/SemaphoreGroups.sol
  packages/contracts/contracts/base/SemaphoreVerifier.sol
  packages/contracts/contracts/base/SemaphoreVerifierKeyPts.sol
  packages/contracts/contracts/interfaces/ISemaphore.sol
  packages/contracts/contracts/interfaces/ISemaphoreGroups.sol
  packages/contracts/contracts/interfaces/ISemaphoreVerifier.sol
Due: prettier --write

chore(contracts): deploy contracts
  packages/utils/src/networks/deployed-contracts.json
Due: prettier --write

migrate to Soroban, important note , still imcomplete
  packages/contracts/contracts/base/SemaphoreGroups/contracts/SemaphoreGroups/src/FSemaphoreGroups.rs
  packages/contracts/contracts/base/SemaphoreGroups/contracts/SemaphoreGroups/src/hash.rs
  packages/contracts/contracts/base/SemaphoreGroups/contracts/SemaphoreGroups/src/imr.rs
  packages/contracts/contracts/base/SemaphoreGroups/contracts/SemaphoreGroups/src/lib.rs
  packages/contracts/contracts/base/SemaphoreGroups/contracts/SemaphoreGroups/src/test.rs
Due: none

Fixed closing tag issue in Update README.md
  README.md
Due: prettier --write

Fix incorrect nesting of tags in README.md
  packages/cli/README.md
Due: prettier --write

Fix incorrect closing tag README.md
  README.md
Due: prettier --write

Fixed closing tag issue in Update README.md (#894)
  README.md
Due: prettier --write

refactor(subgraph): refactor: remove nohoist
  package.json
Due: prettier --write

Update usage.md
  apps/docs/versioned_docs/version-V1/usage.md
Due: prettier --write

Update glossary.md
  apps/docs/versioned_docs/version-V3/glossary.md
Due: prettier --write

fix: typos in documentation files (#898)
  apps/docs/versioned_docs/version-V1/usage.md
  apps/docs/versioned_docs/version-V3/glossary.md
Due: prettier --write

chore(subgraph): deploy new subgraphs
  apps/subgraph/README.md
  packages/data/src/getURL.ts
Due: prettier --write, eslint

chore(contracts): deploy contracts (#892)
  apps/subgraph/README.md
  packages/data/src/getURL.ts
  packages/utils/src/networks/deployed-contracts.json
Due: prettier --write, eslint

chore: v4.6.0
  apps/docs/package.json
  packages/circuits/package.json
  packages/cli-template-contracts-hardhat/package.json
  packages/cli-template-monorepo-ethers/apps/contracts/package.json
  packages/cli-template-monorepo-ethers/apps/web-app/package.json
  packages/cli-template-monorepo-ethers/package.json
  packages/cli-template-monorepo-subgraph/apps/contracts/package.json
  packages/cli-template-monorepo-subgraph/apps/web-app/package.json
  packages/cli-template-monorepo-subgraph/package.json
  packages/cli/package.json
  packages/contracts/contracts/package.json
  packages/core/package.json
  packages/data/package.json
  packages/group/package.json
  packages/hardhat/package.json
  packages/identity/package.json
  packages/proof/package.json
  packages/utils/package.json
  yarn.lock
Due: prettier --write

fix(ci): publish pkg if no releases yet
  scripts/publish.ts
Due: prettier --write, eslint

chore(ci): add workflow release trigger
  .github/workflows/release.yml
Due: none

typo fix Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: prettier --write

refactor(subgraph): refactor: workspaces structure
  package.json
Due: prettier --write

fix: workflow dispatch instead of workflow release
  .github/workflows/release.yml
Due: none

typo fix Update CONTRIBUTING.md (#901)
  CONTRIBUTING.md
Due: prettier --write

fix(ci): publish pkg if no releases yet (#900)
  .github/workflows/release.yml
  scripts/publish.ts
Due: prettier --write, eslint

feat: clean node_modules before building subgraph (#884)
  package.json
Due: prettier --write

chore(contracts): add scroll sepolia to supported networks
  packages/contracts/hardhat.config.ts
Due: prettier --write, eslint

docs: add `soldeer` install instructions
  packages/contracts/contracts/README.md
Due: prettier --write

update README
  packages/contracts/contracts/README.md
Due: prettier --write

docs: add `soldeer` install instructions (#903)
  packages/contracts/contracts/README.md
Due: prettier --write

chore(contracts): deploy contracts on scroll sepolia
  packages/utils/src/networks/deployed-contracts.json
  packages/utils/src/networks/supported-networks.ts
Due: prettier --write, eslint

chore(contracts): deploy semaphore on correct scroll sepolia network
  apps/subgraph/README.md
  packages/contracts/hardhat.config.ts
  packages/data/src/ethers.ts
  packages/utils/src/networks/deployed-contracts.json
  packages/utils/src/networks/supported-networks.ts
Due: prettier --write, eslint

chore(contracts): add scroll sepolia to supported networks (#902)
  apps/subgraph/README.md
  packages/contracts/hardhat.config.ts
  packages/data/src/ethers.ts
  packages/utils/src/networks/deployed-contracts.json
  packages/utils/src/networks/supported-networks.ts
Due: prettier --write, eslint
