Repository semaphore-protocol/semaphore: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

chore: remove commentouts
  scripts/publish.ts
Due: prettier --write, eslint

chore: add back tag trigger
  .github/workflows/release.yml
Due: none

ci: setup soldeer login file (#868)
  .github/workflows/release.yml
Due: none

ci: install `soldeer` in release workflow (#867)
  .github/workflows/release.yml
Due: none

fix: update shebang lines in the ts scripts
  scripts/clean-apps.ts
  scripts/clean-cli-templates.ts
  scripts/clean-packages.ts
  scripts/publish.ts
  scripts/remove-stable-version-field.ts
  scripts/version.ts
Due: prettier --write, eslint

fix: update shebang lines in the ts scripts (#881)
  scripts/clean-apps.ts
  scripts/clean-cli-templates.ts
  scripts/clean-packages.ts
  scripts/publish.ts
  scripts/remove-stable-version-field.ts
  scripts/version.ts
Due: prettier --write, eslint

feat(cli): remove @semaphore-protocol/cli prepublish script
  packages/cli/src/index.ts
Due: prettier --write, eslint

refactor(cli): add comment
  packages/cli/src/index.ts
Due: prettier --write, eslint

chore(contracts): remove sub() from gas() in staticcall at SemaphoreVerifier
  packages/contracts/contracts/base/SemaphoreVerifier.sol
Due: prettier --write

refactor(cli): create seperate file for removePrePublishScript function
  packages/cli/src/index.ts
  packages/cli/src/removePrePublishScript.ts
Due: prettier --write, eslint

refactor(cli): using updatedPackageJsonContent var instead of calling readFileSync again
  packages/cli/src/index.ts
Due: prettier --write, eslint

feat: remove prepublish script when creating template with Semaphore CLI (#882)
  packages/cli/src/index.ts
  packages/cli/src/removePrePublishScript.ts
Due: prettier --write, eslint

chore: v4.4.2
  apps/docs/package.json
  packages/circuits/package.json
  packages/cli-template-contracts-hardhat/package.json
  packages/cli-template-monorepo-ethers/apps/contracts/package.json
  packages/cli-template-monorepo-ethers/apps/web-app/package.json
  packages/cli-template-monorepo-ethers/package.json
  packages/cli-template-monorepo-subgraph/apps/contracts/package.json
  packages/cli-template-monorepo-subgraph/apps/web-app/package.json
  packages/cli-template-monorepo-subgraph/package.json
  packages/cli/package.json
  packages/contracts/contracts/package.json
  packages/core/package.json
  packages/data/package.json
  packages/group/package.json
  packages/hardhat/package.json
  packages/identity/package.json
  packages/proof/package.json
  packages/utils/package.json
  yarn.lock
Due: prettier --write

fix(subgraph): clean node_modules before building subgraph
  package.json
Due: prettier --write

feat(identity): export point and signature types
  packages/identity/src/index.ts
Due: prettier --write, eslint

docs(identity): add the generate commitment function to the readme file
  packages/identity/README.md
Due: prettier --write

docs(identity): add export import identity to the docs
  apps/docs/versioned_docs/version-V4/guides/identities.mdx
Due: none

feat(identity): export point and signature types (#886)
  packages/identity/README.md
  packages/identity/src/index.ts
Due: prettier --write, eslint

docs(identity): add export import identity to the docs (#887)
  apps/docs/versioned_docs/version-V4/guides/identities.mdx
Due: none

chore: v4.5.0
  apps/docs/package.json
  apps/docs/versioned_docs/version-V4/guides/identities.mdx
  packages/circuits/package.json
  packages/cli-template-contracts-hardhat/package.json
  packages/cli-template-monorepo-ethers/apps/contracts/package.json
  packages/cli-template-monorepo-ethers/apps/web-app/package.json
  packages/cli-template-monorepo-ethers/package.json
  packages/cli-template-monorepo-subgraph/apps/contracts/package.json
  packages/cli-template-monorepo-subgraph/apps/web-app/package.json
  packages/cli-template-monorepo-subgraph/package.json
  packages/cli/package.json
  packages/contracts/contracts/package.json
  packages/core/package.json
  packages/data/package.json
  packages/group/package.json
  packages/hardhat/package.json
  packages/identity/package.json
  packages/proof/package.json
  packages/utils/package.json
  yarn.lock
Due: prettier --write

docs(docs): add benchmarks page to the docs
  apps/docs/assets/img-benchmarks/browser/browser-benchmarks.png
  apps/docs/assets/img-benchmarks/circuits/semaphore-v3-circuits-benchmarks.png
  apps/docs/assets/img-benchmarks/circuits/semaphore-v4-circuits-benchmarks.png
  apps/docs/assets/img-benchmarks/contracts/contract-benchmarks.png
  apps/docs/assets/img-benchmarks/contracts/semaphore-v3-contracts-benchmarks.png
  apps/docs/assets/img-benchmarks/contracts/semaphore-v4-contracts-benchmarks.png
  apps/docs/assets/img-benchmarks/node/add-member-node-benchmarks.png
  apps/docs/assets/img-benchmarks/node/create-group-node-benchmarks.png
  apps/docs/assets/img-benchmarks/node/generate-proof-node-benchmarks.png
  apps/docs/assets/img-benchmarks/node/identity-node-benchmarks.png
  apps/docs/assets/img-benchmarks/node/verify-proof-node-benchmarks.png
  apps/docs/versioned_docs/version-V4/benchmarks.md
  apps/docs/versioned_docs/version-V4/credits.md
  apps/docs/versioned_docs/version-V4/faq.md
  apps/docs/versioned_docs/version-V4/glossary.md
  apps/docs/versioned_docs/version-V4/resources.mdx
  apps/docs/versioned_docs/version-V4/troubleshooting.md
Due: prettier --write

chore(docs): update the docusaurus version
  apps/docs/package.json
  yarn.lock
Due: prettier --write

docs: add benchmarks page (#889)
  apps/docs/assets/img-benchmarks/browser/browser-benchmarks.png
  apps/docs/assets/img-benchmarks/circuits/semaphore-v3-circuits-benchmarks.png
  apps/docs/assets/img-benchmarks/circuits/semaphore-v4-circuits-benchmarks.png
  apps/docs/assets/img-benchmarks/contracts/contract-benchmarks.png
  apps/docs/assets/img-benchmarks/contracts/semaphore-v3-contracts-benchmarks.png
  apps/docs/assets/img-benchmarks/contracts/semaphore-v4-contracts-benchmarks.png
  apps/docs/assets/img-benchmarks/node/add-member-node-benchmarks.png
  apps/docs/assets/img-benchmarks/node/create-group-node-benchmarks.png
  apps/docs/assets/img-benchmarks/node/generate-proof-node-benchmarks.png
  apps/docs/assets/img-benchmarks/node/identity-node-benchmarks.png
  apps/docs/assets/img-benchmarks/node/verify-proof-node-benchmarks.png
  apps/docs/package.json
  apps/docs/versioned_docs/version-V4/benchmarks.md
  apps/docs/versioned_docs/version-V4/credits.md
  apps/docs/versioned_docs/version-V4/faq.md
  apps/docs/versioned_docs/version-V4/glossary.md
  apps/docs/versioned_docs/version-V4/resources.mdx
  apps/docs/versioned_docs/version-V4/troubleshooting.md
  yarn.lock
Due: prettier --write

feat: add veilescrow to projects section
  apps/website/src/data/projects.json
Due: prettier --write

feat: add veilescrow to projects section (#890)
  apps/website/src/data/projects.json
Due: prettier --write

refactor(contracts): using fixed gas cost on precompile calls
  packages/contracts/contracts/base/SemaphoreVerifier.sol
Due: prettier --write

refactor(contracts): increease fixed gas cost with safety buffer
  packages/contracts/contracts/base/SemaphoreVerifier.sol
Due: prettier --write

refactor(subgraph): fix: test typo
  package.json
Due: prettier --write

refactor(contracts): specify gas cost in SemaphoreVerifier precompile calls (#883)
  packages/contracts/contracts/base/SemaphoreVerifier.sol
Due: prettier --write

Path conditions:
  prettier --write: any of: **/*.{js,ts,jsx,tsx,md,json,sol}
  eslint: any of: **/*.{js,ts,jsx,tsx}
