Repository semaphore-protocol/semaphore: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

chore: update subgraph versions (#913)
  apps/subgraph/README.md
  packages/data/src/getURL.ts
Due: prettier --write, eslint

chore: v4.7.1
  apps/docs/package.json
  packages/circuits/package.json
  packages/cli-template-contracts-hardhat/package.json
  packages/cli-template-monorepo-ethers/apps/contracts/package.json
  packages/cli-template-monorepo-ethers/apps/web-app/package.json
  packages/cli-template-monorepo-ethers/package.json
  packages/cli-template-monorepo-subgraph/apps/contracts/package.json
  packages/cli-template-monorepo-subgraph/apps/web-app/package.json
  packages/cli-template-monorepo-subgraph/package.json
  packages/cli/package.json
  packages/contracts/contracts/package.json
  packages/core/package.json
  packages/data/package.json
  packages/group/package.json
  packages/hardhat/package.json
  packages/identity/package.json
  packages/proof/package.json
  packages/utils/package.json
  yarn.lock
Due: prettier --write

Fix Typo in Quick Setup Documentation (#916)
  apps/docs/i18n/es/docusaurus-plugin-content-docs/version-V2/quick-setup.md
Due: prettier --write

chore: fix 404 status URL
  apps/docs/i18n/es/docusaurus-plugin-content-docs/version-V3/technical-reference/contracts.md
Due: prettier --write

fix(group): after a sequence of updates a proof is invalid
  packages/contracts/test/Semaphore.ts
Due: prettier --write, eslint

fix(group): after a sequence of updates a proof is invalid (#910)
  packages/contracts/test/Semaphore.ts
  packages/group/package.json
  yarn.lock
Due: prettier --write, eslint

chore: v4.7.2
  apps/docs/package.json
  packages/circuits/package.json
  packages/cli-template-contracts-hardhat/package.json
  packages/cli-template-monorepo-ethers/apps/contracts/package.json
  packages/cli-template-monorepo-ethers/apps/web-app/package.json
  packages/cli-template-monorepo-ethers/package.json
  packages/cli-template-monorepo-subgraph/apps/contracts/package.json
  packages/cli-template-monorepo-subgraph/apps/web-app/package.json
  packages/cli-template-monorepo-subgraph/package.json
  packages/cli/package.json
  packages/contracts/contracts/package.json
  packages/core/package.json
  packages/data/package.json
  packages/group/package.json
  packages/hardhat/package.json
  packages/identity/package.json
  packages/proof/package.json
  packages/utils/package.json
  yarn.lock
Due: prettier --write

Add new article
  apps/website/src/data/articles.json
Due: prettier --write

fix(core): bump ethers to v6.13.4
  README.md
  packages/cli-template-contracts-hardhat/package.json
  packages/cli-template-monorepo-ethers/apps/contracts/package.json
  packages/cli-template-monorepo-ethers/apps/web-app/package.json
  packages/cli-template-monorepo-subgraph/apps/contracts/package.json
  packages/cli-template-monorepo-subgraph/apps/web-app/package.json
  packages/contracts/package.json
  packages/data/package.json
  packages/data/src/ethers.ts
  packages/hardhat/package.json
  packages/proof/package.json
  packages/utils/package.json
  yarn.lock
Due: prettier --write, eslint

fix(core): bump ethers to v6.13.4 (#921)
  README.md
  packages/cli-template-contracts-hardhat/package.json
  packages/cli-template-monorepo-ethers/apps/contracts/package.json
  packages/cli-template-monorepo-ethers/apps/web-app/package.json
  packages/cli-template-monorepo-subgraph/apps/contracts/package.json
  packages/cli-template-monorepo-subgraph/apps/web-app/package.json
  packages/contracts/package.json
  packages/data/package.json
  packages/data/src/ethers.ts
  packages/hardhat/package.json
  packages/proof/package.json
  packages/utils/package.json
  yarn.lock
Due: prettier --write, eslint

chore: v4.7.3
  apps/docs/package.json
  packages/circuits/package.json
  packages/cli-template-contracts-hardhat/package.json
  packages/cli-template-monorepo-ethers/apps/contracts/package.json
  packages/cli-template-monorepo-ethers/apps/web-app/package.json
  packages/cli-template-monorepo-ethers/package.json
  packages/cli-template-monorepo-subgraph/apps/contracts/package.json
  packages/cli-template-monorepo-subgraph/apps/web-app/package.json
  packages/cli-template-monorepo-subgraph/package.json
  packages/cli/package.json
  packages/contracts/contracts/package.json
  packages/core/package.json
  packages/data/package.json
  packages/group/package.json
  packages/hardhat/package.json
  packages/identity/package.json
  packages/proof/package.json
  packages/utils/package.json
  yarn.lock
Due: prettier --write

broken redirect CONTRIBUTING.md
  CONTRIBUTING.md
Due: prettier --write

typo README.md
  README.md
Due: prettier --write

Added yarnrc
  packages/cli-template-contracts-foundry/.gitignore
  packages/cli-template-contracts-foundry/.yarn/releases/yarn-4.1.0.cjs
  packages/cli-template-contracts-foundry/.yarnrc.yml
Due: none

updated version
  packages/cli-template-contracts-foundry/package.json
  yarn.lock
Due: prettier --write

Update README.md
  README.md
Due: prettier --write

Added Foundry in template option
  packages/cli-template-contracts-foundry/remappings.txt
  packages/cli/src/index.ts
Due: prettier --write, eslint

Add CLI Foundry Template (cont.) (#905)
  packages/cli-template-contracts-foundry/.env.example
  packages/cli-template-contracts-foundry/.gitignore
  packages/cli-template-contracts-foundry/.prettierrc.json
  packages/cli-template-contracts-foundry/.solhint.json
  packages/cli-template-contracts-foundry/.yarn/releases/yarn-4.1.0.cjs
  packages/cli-template-contracts-foundry/.yarnrc.yml
  packages/cli-template-contracts-foundry/README.md
  packages/cli-template-contracts-foundry/foundry.toml
  packages/cli-template-contracts-foundry/package.json
  packages/cli-template-contracts-foundry/remappings.txt
  packages/cli-template-contracts-foundry/script/DeployFeedback.s.sol
  packages/cli-template-contracts-foundry/src/Feedback.sol
  packages/cli-template-contracts-foundry/test/Feedback.t.sol
  packages/cli/src/index.ts
  yarn.lock
Due: prettier --write, eslint

chore: v4.8.0
  apps/docs/package.json
  packages/circuits/package.json
  packages/cli-template-contracts-foundry/package.json
  packages/cli-template-contracts-hardhat/package.json
  packages/cli-template-monorepo-ethers/apps/contracts/package.json
  packages/cli-template-monorepo-ethers/apps/web-app/package.json
  packages/cli-template-monorepo-ethers/package.json
  packages/cli-template-monorepo-subgraph/apps/contracts/package.json
  packages/cli-template-monorepo-subgraph/apps/web-app/package.json
  packages/cli-template-monorepo-subgraph/package.json
  packages/cli/package.json
  packages/contracts/contracts/package.json
  packages/core/package.json
  packages/data/package.json
  packages/group/package.json
  packages/hardhat/package.json
  packages/identity/package.json
  packages/proof/package.json
  packages/utils/package.json
  yarn.lock
Due: prettier --write

chore(cli-template-contracts-foundry): add prepublish script to publish foundry template
  packages/cli-template-contracts-foundry/.editorconfig
  packages/cli-template-contracts-foundry/.prettierignore
  packages/cli-template-contracts-foundry/package.json
  typedoc.js
Due: prettier --write, eslint

chore(cli-template-contracts-foundry): add prepublish script (#927)
  packages/cli-template-contracts-foundry/.editorconfig
  packages/cli-template-contracts-foundry/.prettierignore
  packages/cli-template-contracts-foundry/package.json
  typedoc.js
Due: prettier --write, eslint

chore: v4.8.1
  apps/docs/package.json
  packages/circuits/package.json
  packages/cli-template-contracts-foundry/package.json
  packages/cli-template-contracts-hardhat/package.json
  packages/cli-template-monorepo-ethers/apps/contracts/package.json
  packages/cli-template-monorepo-ethers/apps/web-app/package.json
  packages/cli-template-monorepo-ethers/package.json
  packages/cli-template-monorepo-subgraph/apps/contracts/package.json
  packages/cli-template-monorepo-subgraph/apps/web-app/package.json
  packages/cli-template-monorepo-subgraph/package.json
  packages/cli/package.json
  packages/contracts/contracts/package.json
  packages/core/package.json
  packages/data/package.json
  packages/group/package.json
  packages/hardhat/package.json
  packages/identity/package.json
  packages/proof/package.json
  packages/utils/package.json
  yarn.lock
Due: prettier --write

fix: include solhint config file in contracts templates
  packages/cli-template-contracts-foundry/package.json
  packages/cli-template-contracts-hardhat/package.json
Due: prettier --write

fix: include solhint config file in contracts templates (#929)
  packages/cli-template-contracts-foundry/package.json
  packages/cli-template-contracts-hardhat/package.json
Due: prettier --write

chore: v4.8.2
  apps/docs/package.json
  packages/circuits/package.json
  packages/cli-template-contracts-foundry/package.json
  packages/cli-template-contracts-hardhat/package.json
  packages/cli-template-monorepo-ethers/apps/contracts/package.json
  packages/cli-template-monorepo-ethers/apps/web-app/package.json
  packages/cli-template-monorepo-ethers/package.json
  packages/cli-template-monorepo-subgraph/apps/contracts/package.json
  packages/cli-template-monorepo-subgraph/apps/web-app/package.json
  packages/cli-template-monorepo-subgraph/package.json
  packages/cli/package.json
  packages/contracts/contracts/package.json
  packages/core/package.json
  packages/data/package.json
  packages/group/package.json
  packages/hardhat/package.json
  packages/identity/package.json
  packages/proof/package.json
  packages/utils/package.json
  yarn.lock
Due: prettier --write

Fix typo in @param description for _verifier Update Semaphore.sol
  packages/contracts/contracts/Semaphore.sol
Due: prettier --write

fix: circuit logic url
  apps/docs/versioned_docs/version-V4/what-is-semaphore.md
Due: prettier --write

Path conditions:
  prettier --write: any of: **/*.{js,ts,jsx,tsx,md,json,sol}
  eslint: any of: **/*.{js,ts,jsx,tsx}
