Repository semaphore-protocol/semaphore: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc.json:

{
    "**/*.{js,ts,jsx,tsx,md,json,sol}": "prettier --write",
    "**/*.{js,ts,jsx,tsx}": "eslint"
}

chore: update video url and thumbnail
  apps/website/src/data/videos.json
Due: prettier --write

chore: update video url and thumbnail (#793)
  apps/website/src/data/videos.json
Due: prettier --write

chore(website): add trusted setup ceremony on the website
  apps/website/src/app/layout.tsx
  apps/website/src/components/Banner.tsx
  apps/website/src/components/Navbar.tsx
  apps/website/src/data/events.json
Due: prettier --write, eslint

docs(docs): add trusted setup ceremony instructions on documentation
  apps/docs/docusaurus.config.ts
  apps/docs/versioned_docs/version-V4-beta/credits.md
  apps/docs/versioned_docs/version-V4-beta/faq.md
  apps/docs/versioned_docs/version-V4-beta/glossary.md
  apps/docs/versioned_docs/version-V4-beta/resources.mdx
  apps/docs/versioned_docs/version-V4-beta/subgraph.mdx
  apps/docs/versioned_docs/version-V4-beta/troubleshooting.md
  apps/docs/versioned_docs/version-V4-beta/trusted_setup.md
Due: prettier --write, eslint

chore: remove heyauthn from exclude typedoc list
  typedoc.js
Due: prettier --write, eslint

docs: add link to API Reference (typedoc) (#790)
  .github/workflows/docs.yml
  README.md
  package.json
  typedoc.js
Due: prettier --write, eslint

chore: update verification keys
  packages/contracts/contracts/base/SemaphoreVerifier.sol
  packages/proof/src/verification-keys.json
Due: prettier --write

chore: update verification keys (#795)
  packages/contracts/contracts/base/SemaphoreVerifier.sol
  packages/proof/src/verification-keys.json
Due: prettier --write

chore: add runs-on to docs workflow
  .github/workflows/docs.yml
Due: none

chore: add runs-on to docs workflow (#797)
  .github/workflows/docs.yml
Due: none

chore(proof): bump `@zk-kit/artifacts`
  packages/proof/package.json
  yarn.lock
Due: prettier --write

chore(proof): bump `@zk-kit/artifacts` to `1.4.1` (#798)
  packages/proof/package.json
  yarn.lock
Due: prettier --write

chore: v4.0.0-beta.12
  apps/docs/package.json
  packages/circuits/package.json
  packages/cli-template-contracts-hardhat/package.json
  packages/cli-template-monorepo-ethers/apps/contracts/package.json
  packages/cli-template-monorepo-ethers/apps/web-app/package.json
  packages/cli-template-monorepo-ethers/package.json
  packages/cli-template-monorepo-subgraph/apps/contracts/package.json
  packages/cli-template-monorepo-subgraph/apps/web-app/package.json
  packages/cli-template-monorepo-subgraph/package.json
  packages/cli/package.json
  packages/contracts/contracts/package.json
  packages/core/package.json
  packages/data/package.json
  packages/group/package.json
  packages/hardhat/package.json
  packages/identity/package.json
  packages/proof/package.json
  packages/utils/package.json
  yarn.lock
Due: prettier --write

chore(website): add onScroll property
  apps/website/src/components/Carousel.tsx
Due: prettier --write, eslint

chore(docs): add candidate plan for prod ceremony
  apps/docs/versioned_docs/version-V4-beta/trusted_setup.md
  apps/website/src/app/layout.tsx
  apps/website/src/data/events.json
Due: prettier --write, eslint

fix(docs): rename file to avoid mismatching hyphens
  apps/docs/versioned_docs/version-V4-beta/trusted-setup.md
Due: prettier --write

style(website): follow style guide for hover
  apps/website/src/app/layout.tsx
Due: prettier --write, eslint

fix(identity)!: update type of private key
  packages/identity/README.md
  packages/identity/package.json
  packages/identity/src/index.ts
  packages/identity/tests/index.test.ts
  yarn.lock
Due: prettier --write, eslint

fix(website): wrong link to ceremony
  apps/docs/versioned_docs/version-V4-beta/trusted-setup.md
  apps/website/src/app/layout.tsx
Due: prettier --write, eslint

fix(docs): switch emoji
  apps/docs/versioned_docs/version-V4-beta/trusted-setup.md
Due: prettier --write

Announce Trusted Setup V4 ceremony (#794)
  apps/docs/docusaurus.config.ts
  apps/docs/versioned_docs/version-V4-beta/credits.md
  apps/docs/versioned_docs/version-V4-beta/faq.md
  apps/docs/versioned_docs/version-V4-beta/glossary.md
  apps/docs/versioned_docs/version-V4-beta/resources.mdx
  apps/docs/versioned_docs/version-V4-beta/subgraph.mdx
  apps/docs/versioned_docs/version-V4-beta/troubleshooting.md
  apps/docs/versioned_docs/version-V4-beta/trusted-setup.md
  apps/website/src/app/layout.tsx
  apps/website/src/components/Banner.tsx
  apps/website/src/components/Navbar.tsx
  apps/website/src/data/events.json
Due: prettier --write, eslint

chore(identity): bump @zk-kit/eddsa-poseidon to 1.0.2
  packages/identity/package.json
  yarn.lock
Due: prettier --write

fix(identity): convert randomly generated private key to hex string
  packages/identity/src/index.ts
Due: prettier --write, eslint

test(identity): should be able to recreate identity from randomly generated identity
  packages/identity/tests/index.test.ts
Due: prettier --write, eslint

chore: fix wrong link in README.md
  apps/subgraph/README.md
Due: prettier --write

chore: fix wrong link in README.md (#802)
  apps/subgraph/README.md
Due: prettier --write

refactor(identity): use base64 as encoding for exported priv keys
  packages/identity/package.json
  packages/identity/src/index.ts
  packages/identity/tests/index.test.ts
  yarn.lock
Due: prettier --write, eslint

Update packages/identity/src/index.ts
  packages/identity/src/index.ts
Due: prettier --write, eslint

test(identity): add more tests
  packages/identity/package.json
  packages/identity/tests/index.test.ts
  yarn.lock
Due: prettier --write, eslint

fix(identity)!: update type of private key (#803)
  packages/identity/README.md
  packages/identity/package.json
  packages/identity/src/index.ts
  packages/identity/tests/index.test.ts
  yarn.lock
Due: prettier --write, eslint

chore: v4.0.0-beta.13
  apps/docs/package.json
  packages/circuits/package.json
  packages/cli-template-contracts-hardhat/package.json
  packages/cli-template-monorepo-ethers/apps/contracts/package.json
  packages/cli-template-monorepo-ethers/apps/web-app/package.json
  packages/cli-template-monorepo-ethers/package.json
  packages/cli-template-monorepo-subgraph/apps/contracts/package.json
  packages/cli-template-monorepo-subgraph/apps/web-app/package.json
  packages/cli-template-monorepo-subgraph/package.json
  packages/cli/package.json
  packages/contracts/contracts/package.json
  packages/core/package.json
  packages/data/package.json
  packages/group/package.json
  packages/hardhat/package.json
  packages/identity/package.json
  packages/proof/package.json
  packages/utils/package.json
  yarn.lock
Due: prettier --write
