Repository semaphore-protocol/semaphore: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

Update page.tsx
  apps/website/src/app/page.tsx
Due: prettier --write, eslint

Update LICENSE
  LICENSE
Due: none

docs(identity): correct @returns to bigint for secretScalar and commitment
  packages/identity/src/index.ts
Due: prettier --write, eslint

build: update checkout action to v5
  .github/workflows/docs.yml
  .github/workflows/production.yml
  .github/workflows/pull-requests.yml
  .github/workflows/release.yml
Due: none

Update decode-message.ts
  packages/utils/src/decode-message.ts
Due: prettier --write, eslint

Update index.test.ts
  packages/utils/tests/index.test.ts
Due: prettier --write, eslint

tests: call functions in .rejects assertions so expect receives promises
  packages/proof/tests/index.test.ts
Due: prettier --write, eslint

Update subgraph.test.ts
  packages/data/tests/subgraph.test.ts
Due: prettier --write, eslint

Update subgraph.ts
  packages/data/src/subgraph.ts
Due: prettier --write, eslint

fix(data/ethers): correct MembersAdded map type to string[]
  packages/data/src/ethers.ts
Due: prettier --write, eslint

chore: fix typos)
  apps/docs/i18n/es/docusaurus-plugin-content-docs/version-V1/howitworks.md
  apps/docs/i18n/es/docusaurus-plugin-content-docs/version-V1/libsemaphore.md
  apps/docs/i18n/es/docusaurus-plugin-content-docs/version-V1/what-is-semaphore.md
  apps/docs/i18n/es/docusaurus-plugin-content-docs/version-V2/guides/proofs.md
  apps/docs/i18n/es/docusaurus-plugin-content-docs/version-V2/subgraph.md
  apps/docs/versioned_docs/version-V4/trusted-setup.md
  packages/contracts/contracts/Semaphore.sol
  packages/contracts/contracts/base/SemaphoreGroups.sol
  packages/group/src/index.ts
  types/ffjavascript/index.d.ts
Due: prettier --write, eslint

fix(data): strengthen event argument checks and add explicit type annotations
  packages/data/src/viem.ts
Due: prettier --write, eslint

feat: add production semaphore v4 zk artifacts
  packages/contracts/contracts/base/SemaphoreVerifierKeyPts.sol
  packages/proof/src/generate-proof.ts
  packages/proof/src/verification-keys.json
Due: prettier --write, eslint

feat: add production semaphore v4 zk artifacts (#1037)
  packages/contracts/contracts/base/SemaphoreVerifierKeyPts.sol
  packages/proof/src/generate-proof.ts
  packages/proof/src/verification-keys.json
Due: prettier --write, eslint

chore: v4.13.0
  apps/docs/package.json
  packages/circuits/package.json
  packages/cli-template-contracts-foundry/package.json
  packages/cli-template-contracts-hardhat/package.json
  packages/cli-template-monorepo-ethers/apps/contracts/package.json
  packages/cli-template-monorepo-ethers/apps/web-app/package.json
  packages/cli-template-monorepo-ethers/package.json
  packages/cli-template-monorepo-subgraph/apps/contracts/package.json
  packages/cli-template-monorepo-subgraph/apps/web-app/package.json
  packages/cli-template-monorepo-subgraph/package.json
  packages/cli/package.json
  packages/contracts/contracts/package.json
  packages/core/package.json
  packages/data/package.json
  packages/group/package.json
  packages/hardhat/package.json
  packages/identity/package.json
  packages/proof/package.json
  packages/utils/package.json
  yarn.lock
Due: prettier --write

docs: fix incorrect default value in chunkArray JSDoc
  apps/website/src/utils/chunkArray.ts
Due: prettier --write, eslint

docs(docs): remove trusted setup announcement from docs
  apps/docs/docusaurus.config.ts
  apps/docs/versioned_docs/version-V4/trusted-setup.md
Due: prettier --write, eslint

docs(website): remove trusted setup announcement from website
  apps/website/src/app/layout.tsx
  apps/website/src/data/events.json
Due: prettier --write, eslint

docs: remove trusted setup from docs and website (#1039)
  apps/docs/docusaurus.config.ts
  apps/docs/versioned_docs/version-V4/trusted-setup.md
  apps/website/src/app/layout.tsx
  apps/website/src/data/events.json
Due: prettier --write, eslint

Add defensive checks in getDeployedContract for missing data
  packages/utils/src/networks/index.ts
Due: prettier --write, eslint

feat: deploy contracts
  apps/subgraph/README.md
  packages/data/src/getURL.ts
  packages/utils/src/networks/deployed-contracts.json
  packages/utils/src/semaphore-interface.json
Due: prettier --write, eslint

feat: deploy contracts (#1041)
  apps/subgraph/README.md
  packages/data/src/getURL.ts
  packages/utils/src/networks/deployed-contracts.json
  packages/utils/src/semaphore-interface.json
Due: prettier --write, eslint

chore: v4.13.1
  apps/docs/package.json
  packages/circuits/package.json
  packages/cli-template-contracts-foundry/package.json
  packages/cli-template-contracts-hardhat/package.json
  packages/cli-template-monorepo-ethers/apps/contracts/package.json
  packages/cli-template-monorepo-ethers/apps/web-app/package.json
  packages/cli-template-monorepo-ethers/package.json
  packages/cli-template-monorepo-subgraph/apps/contracts/package.json
  packages/cli-template-monorepo-subgraph/apps/web-app/package.json
  packages/cli-template-monorepo-subgraph/package.json
  packages/cli/package.json
  packages/contracts/contracts/package.json
  packages/core/package.json
  packages/data/package.json
  packages/group/package.json
  packages/hardhat/package.json
  packages/identity/package.json
  packages/proof/package.json
  packages/utils/package.json
  yarn.lock
Due: prettier --write

Update docusaurus.config.ts
  apps/docs/docusaurus.config.ts
Due: prettier --write, eslint

docs(docs): update benchmarks page
  apps/docs/assets/img-benchmarks/browser/browser-benchmarks.png
  apps/docs/assets/img-benchmarks/circuits/semaphore-v3-circuits-benchmarks.png
  apps/docs/assets/img-benchmarks/circuits/semaphore-v4-circuits-benchmarks.png
  apps/docs/assets/img-benchmarks/contracts/contract-benchmarks.png
  apps/docs/assets/img-benchmarks/contracts/semaphore-v3-contracts-benchmarks.png
  apps/docs/assets/img-benchmarks/contracts/semaphore-v4-contracts-benchmarks.png
  apps/docs/assets/img-benchmarks/node/add-member-node-benchmarks.png
  apps/docs/assets/img-benchmarks/node/create-group-node-benchmarks.png
  apps/docs/assets/img-benchmarks/node/generate-proof-node-benchmarks.png
  apps/docs/assets/img-benchmarks/node/identity-node-benchmarks.png
  apps/docs/assets/img-benchmarks/node/verify-proof-node-benchmarks.png
  apps/docs/versioned_docs/version-V4/benchmarks.md
Due: prettier --write

docs(docs): update browser benchmarks
  apps/docs/assets/img-benchmarks/browser/browser-benchmarks.png
  apps/docs/assets/img-benchmarks/contracts/contract-benchmarks.png
Due: none

docs(docs): update contracts image size
  apps/docs/versioned_docs/version-V4/benchmarks.md
Due: prettier --write

docs(docs): update solidity benchmark info
  apps/docs/versioned_docs/version-V4/benchmarks.md
Due: prettier --write

docs: update benachmarks page (#1045)
  apps/docs/assets/img-benchmarks/browser/browser-benchmarks.png
  apps/docs/assets/img-benchmarks/circuits/semaphore-v3-circuits-benchmarks.png
  apps/docs/assets/img-benchmarks/circuits/semaphore-v4-circuits-benchmarks.png
  apps/docs/assets/img-benchmarks/contracts/contract-benchmarks.png
  apps/docs/assets/img-benchmarks/contracts/semaphore-v3-contracts-benchmarks.png
  apps/docs/assets/img-benchmarks/contracts/semaphore-v4-contracts-benchmarks.png
  apps/docs/assets/img-benchmarks/node/add-member-node-benchmarks.png
  apps/docs/assets/img-benchmarks/node/create-group-node-benchmarks.png
  apps/docs/assets/img-benchmarks/node/generate-proof-node-benchmarks.png
  apps/docs/assets/img-benchmarks/node/identity-node-benchmarks.png
  apps/docs/assets/img-benchmarks/node/verify-proof-node-benchmarks.png
  apps/docs/versioned_docs/version-V4/benchmarks.md
Due: prettier --write

refactor: fix command execution and improve script stability
  scripts/publish.ts
Due: prettier --write, eslint

Update hash.ts
  packages/proof/src/hash.ts
Due: prettier --write, eslint

chore: remove unnecessary any from Jest projects configuration
  jest.config.ts
Due: prettier --write, eslint

docs(website): add poll.cc to website
  apps/website/src/data/projects.json
Due: prettier --write

docs(website): add poll.cc (#1050)
  apps/website/src/data/projects.json
Due: prettier --write

feat: support gnosis-chiado and gnosis networks
  apps/subgraph/README.md
  packages/contracts/hardhat.config.ts
  packages/utils/src/networks/deployed-contracts.json
  packages/utils/src/networks/supported-networks.ts
Due: prettier --write, eslint

chore: v4.13.2
  apps/docs/package.json
  packages/circuits/package.json
  packages/cli-template-contracts-foundry/package.json
  packages/cli-template-contracts-hardhat/package.json
  packages/cli-template-monorepo-ethers/apps/contracts/package.json
  packages/cli-template-monorepo-ethers/apps/web-app/package.json
  packages/cli-template-monorepo-ethers/package.json
  packages/cli-template-monorepo-subgraph/apps/contracts/package.json
  packages/cli-template-monorepo-subgraph/apps/web-app/package.json
  packages/cli-template-monorepo-subgraph/package.json
  packages/cli/package.json
  packages/contracts/contracts/package.json
  packages/core/package.json
  packages/data/package.json
  packages/group/package.json
  packages/hardhat/package.json
  packages/identity/package.json
  packages/proof/package.json
  packages/utils/package.json
  yarn.lock
Due: prettier --write

feat(data): add semaphore event listeners
  packages/data/src/ethers.ts
  packages/data/tests/ethers.test.ts
Due: prettier --write, eslint

feat(data): add semaphore event listeners
  packages/data/tests/ethers.test.ts
Due: prettier --write, eslint

Path conditions:
  prettier --write: any of: **/*.{js,ts,jsx,tsx,md,json,sol}
  eslint: any of: **/*.{js,ts,jsx,tsx}
