Repository semaphore-protocol/semaphore: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc.json:

{
    "**/*.{js,ts,jsx,tsx,md,json,sol}": "prettier --write",
    "**/*.{js,ts,jsx,tsx}": "eslint"
}

chore: use czg instead of cz + cz-git
  .husky/prepare-commit-msg
  package.json
  yarn.lock
Due: prettier --write

chore: use cat instead of vim editor to write commits
  package.json
Due: prettier --write

chore: use secrets.GITHUB_TOKEN instead of secrets.GH_TOKEN
  .github/workflows/auto-assign.yml
Due: none

style: add a space at the end of the pre-commit file
  .husky/pre-commit
Due: none

chore: update config (#763)
  .github/workflows/auto-assign.yml
  .husky/pre-commit
  .husky/prepare-commit-msg
  .lintstagedrc.json
  package.json
  yarn.lock
Due: prettier --write

chore: update build scripts
  package.json
Due: prettier --write

chore: build everything with turbo
  .gitignore
  apps/docs/package.json
  apps/subgraph/package.json
  package.json
  packages/circuits/package.json
  turbo.json
  yarn.lock
Due: prettier --write

chore: run format and lint tasks with turbo
  apps/subgraph/package.json
  package.json
  packages/contracts/package.json
  turbo.json
Due: prettier --write

chore: update pull request workflow's style check step
  .github/workflows/pull-requests.yml
  package.json
  turbo.json
Due: prettier --write

chore: include remark format in turbo format tasks
  apps/docs/package.json
  package.json
  turbo.json
Due: prettier --write

chore: wrap more tasks with turbo
  package.json
  turbo.json
  yarn.lock
Due: prettier --write

chore: run tests tasks with `turbo`
  package.json
  turbo.json
Due: prettier --write

chore: update pull requests workflow
  .github/workflows/pull-requests.yml
Due: none

chore: include `.turbo` folders in `clean` script
  package.json
Due: prettier --write

fix: build proof package before linting
  turbo.json
Due: prettier --write

fix(group): add check for zero values in group constructor
  packages/group/src/index.ts
  packages/group/tests/index.test.ts
Due: prettier --write, eslint

fix(group): add check for zero values in group constructor (#764)
  packages/group/src/index.ts
  packages/group/tests/index.test.ts
Due: prettier --write, eslint

chore: v4.0.0-beta.9
  apps/docs/package.json
  packages/circuits/package.json
  packages/cli-template-contracts-hardhat/package.json
  packages/cli-template-monorepo-ethers/apps/contracts/package.json
  packages/cli-template-monorepo-ethers/apps/web-app/package.json
  packages/cli-template-monorepo-ethers/package.json
  packages/cli-template-monorepo-subgraph/apps/contracts/package.json
  packages/cli-template-monorepo-subgraph/apps/web-app/package.json
  packages/cli-template-monorepo-subgraph/package.json
  packages/cli/package.json
  packages/contracts/contracts/package.json
  packages/core/package.json
  packages/data/package.json
  packages/group/package.json
  packages/hardhat/package.json
  packages/identity/package.json
  packages/proof/package.json
  packages/utils/package.json
  yarn.lock
Due: prettier --write

chore: optimize pull-requests workflow
  .github/workflows/pull-requests.yml
Due: none

fix: quote glob pattern
  .github/workflows/pull-requests.yml
Due: none

fix: append `$` to variables in workflow
  .github/workflows/pull-requests.yml
Due: none

chore: include `yaml` files in lintstaged format check
  .lintstagedrc.json
Due: prettier --write

feat: detect to_format or to_lint changed files
  .github/workflows/pull-requests.yml
Due: none

feat: run test workflow steps conditionally
  .github/workflows/pull-requests.yml
Due: none

Added missing await in proofs example
  apps/docs/versioned_docs/version-V4-beta/guides/proofs.mdx
Due: none

docs(data): improve code comments and readme of the @semaphore/data package
  packages/data/README.md
  packages/data/src/checkParameter.ts
  packages/data/src/ethers.ts
  packages/data/src/getEvents.ts
  packages/data/src/getURL.ts
  packages/data/src/request.ts
  packages/data/src/subgraph.ts
  packages/data/src/utils.ts
Due: prettier --write, eslint

Update articles.json
  apps/website/src/data/articles.json
Due: prettier --write

Update .github/workflows/pull-requests.yml
  .github/workflows/pull-requests.yml
Due: none

fix: build utils before contracts
  .github/workflows/pull-requests.yml
Due: none

test(contracts): update contract test
  packages/contracts/test/Semaphore.ts
Due: prettier --write, eslint

fix: build identity pkg before running contracts tests
  .github/workflows/pull-requests.yml
Due: none

fix: need to quote `true`
  .github/workflows/pull-requests.yml
Due: none

fix: build group pkg before running contracts tests
  .github/workflows/pull-requests.yml
Due: none

fix: build `{group,identity,proof}` before running circuits tests
  .github/workflows/pull-requests.yml
Due: none

fix: build `proof` pkg before running contracts tests
  .github/workflows/pull-requests.yml
Due: none

Added missing await in proofs example (#767)
  apps/docs/versioned_docs/version-V4-beta/guides/proofs.mdx
Due: none
