Repository semaphore-protocol/semaphore: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc.json:

{
    "**/*.{js,ts,jsx,tsx,md,json,sol}": "prettier --write",
    "**/*.{js,ts,jsx,tsx}": "eslint"
}

chore(identity): update dependency @zk-kit/eddsa-poseidon
  packages/identity/package.json
  packages/identity/src/index.ts
  yarn.lock
Due: prettier --write, eslint

chore: update dependency @zk-kit/utils
  packages/group/package.json
  packages/identity/package.json
  yarn.lock
Due: prettier --write

chore: add fixed version of zk-kit packages
  packages/contracts/contracts/package.json
  packages/contracts/package.json
  packages/group/package.json
  packages/identity/package.json
  yarn.lock
Due: prettier --write

chore(identity): update dependency @zk-kit/baby-jubjub
  packages/identity/package.json
  yarn.lock
Due: prettier --write

[add]zk-kit/utils/
  packages/circuits/circomkit.json
  packages/circuits/package.json
  packages/contracts/test/Semaphore.ts
  packages/data/src/ethers.ts
  packages/data/src/subgraph.ts
  packages/data/tests/ethers.test.ts
  packages/proof/tests/index.test.ts
Due: prettier --write, eslint

chore: add code owners
  .github/CODEOWNERS
  .github/workflows/auto-assign.yml
Due: none

chore: add code owners (#784)
  .github/CODEOWNERS
  .github/workflows/auto-assign.yml
Due: none

chore: update @zk-kit/baby-jubjub package version
  packages/circuits/package.json
  packages/identity/package.json
  yarn.lock
Due: prettier --write

chore(identity): update @zk-kit/eddsa-poseidon package version
  packages/identity/package.json
  yarn.lock
Due: prettier --write

chore: update yarn.lock file
  yarn.lock
Due: none

chore: update zk-kit dependencies (#781)
  packages/circuits/package.json
  packages/contracts/contracts/package.json
  packages/contracts/package.json
  packages/group/package.json
  packages/identity/package.json
  packages/identity/src/index.ts
  yarn.lock
Due: prettier --write, eslint

chore: support tree depth 1
  packages/contracts/contracts/base/Constants.sol
  packages/contracts/contracts/base/SemaphoreVerifier.sol
  packages/proof/src/verification-keys.json
  packages/utils/src/constants.ts
Due: prettier --write, eslint

feat: support more tree depths (#779)
  packages/contracts/contracts/base/Constants.sol
  packages/contracts/contracts/base/SemaphoreVerifier.sol
  packages/proof/src/verification-keys.json
  packages/proof/tests/index.test.ts
  packages/utils/src/constants.ts
Due: prettier --write, eslint

chore: v4.0.0-beta.10
  apps/docs/package.json
  packages/circuits/package.json
  packages/cli-template-contracts-hardhat/package.json
  packages/cli-template-monorepo-ethers/apps/contracts/package.json
  packages/cli-template-monorepo-ethers/apps/web-app/package.json
  packages/cli-template-monorepo-ethers/package.json
  packages/cli-template-monorepo-subgraph/apps/contracts/package.json
  packages/cli-template-monorepo-subgraph/apps/web-app/package.json
  packages/cli-template-monorepo-subgraph/package.json
  packages/cli/package.json
  packages/contracts/contracts/package.json
  packages/core/package.json
  packages/data/package.json
  packages/group/package.json
  packages/hardhat/package.json
  packages/identity/package.json
  packages/proof/package.json
  packages/utils/package.json
  yarn.lock
Due: prettier --write

test(circuits): add test using the identity library
  packages/circuits/tests/semaphore.test.ts
Due: prettier --write, eslint

test(circuits): add test using the identity library (#785)
  packages/circuits/tests/semaphore.test.ts
Due: prettier --write, eslint

refactor: add `@zk-kit/artifacts`
  packages/proof/package.json
  packages/proof/src/generate-proof.ts
  yarn.lock
Due: prettier --write, eslint

chore: update `jest.config.ts`
  jest.config.ts
Due: prettier --write, eslint

test: increase timeouts
  packages/proof/tests/index.test.ts
Due: prettier --write, eslint

chore: shorten `docs` scripts
  package.json
Due: prettier --write

docs: update README.md
  README.md
Due: prettier --write

chore: trigger docs workflow only on changes in relevant files
  .github/workflows/docs.yml
  typedoc.js
Due: prettier --write, eslint

refactor: provide `cname` typedoc option via config file
  package.json
Due: prettier --write

chore: bump `@zk-kit/utils`
  packages/group/package.json
  packages/identity/package.json
  packages/proof/package.json
  yarn.lock
Due: prettier --write

fix: bump `@zk-kit/artifacts`
  jest.config.ts
  packages/proof/package.json
  yarn.lock
Due: prettier --write, eslint

refactor: add `@zk-kit/artifacts` (#788)
  packages/group/package.json
  packages/identity/package.json
  packages/proof/package.json
  packages/proof/src/generate-proof.ts
  packages/proof/tests/index.test.ts
  yarn.lock
Due: prettier --write, eslint

chore: update @zk-kit/baby-jubjub and @zk-kit/eddsa-poseidon dependencies
  packages/circuits/package.json
  packages/identity/package.json
  yarn.lock
Due: prettier --write

chore(group): use the new @zk-kit/lean-imt library
  packages/group/package.json
  packages/group/src/index.ts
  yarn.lock
Due: prettier --write, eslint

chore: update @zk-kit/utils version
  packages/group/package.json
  packages/identity/package.json
  packages/proof/package.json
  yarn.lock
Due: prettier --write

chore(contracts): use the new @zk-kit/lean-imt.sol library in contracts
  packages/contracts/contracts/base/SemaphoreGroups.sol
  packages/contracts/contracts/package.json
  packages/contracts/package.json
  yarn.lock
Due: prettier --write

chore: update zk kit dependencies (#791)
  packages/circuits/package.json
  packages/contracts/contracts/base/SemaphoreGroups.sol
  packages/contracts/contracts/package.json
  packages/contracts/package.json
  packages/group/package.json
  packages/group/src/index.ts
  packages/identity/package.json
  packages/proof/package.json
  yarn.lock
Due: prettier --write, eslint

chore: v4.0.0-beta.11
  apps/docs/package.json
  packages/circuits/package.json
  packages/cli-template-contracts-hardhat/package.json
  packages/cli-template-monorepo-ethers/apps/contracts/package.json
  packages/cli-template-monorepo-ethers/apps/web-app/package.json
  packages/cli-template-monorepo-ethers/package.json
  packages/cli-template-monorepo-subgraph/apps/contracts/package.json
  packages/cli-template-monorepo-subgraph/apps/web-app/package.json
  packages/cli-template-monorepo-subgraph/package.json
  packages/cli/package.json
  packages/contracts/contracts/package.json
  packages/core/package.json
  packages/data/package.json
  packages/group/package.json
  packages/hardhat/package.json
  packages/identity/package.json
  packages/proof/package.json
  packages/utils/package.json
  yarn.lock
Due: prettier --write
