Repository semaphore-protocol/semaphore: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc.json:

{
    "**/*.{js,ts,jsx,tsx,md,json,sol}": "prettier --write",
    "**/*.{js,ts,jsx,tsx}": "eslint"
}

Added missing await in proofs example (#767)
  apps/docs/versioned_docs/version-V4-beta/guides/proofs.mdx
Due: none

Update articles.json (#769)
  apps/website/src/data/articles.json
Due: prettier --write

fix: build utils before testing circuits
  .github/workflows/pull-requests.yml
Due: none

fix: build `utils` before `subgraph` pkg
  .github/workflows/pull-requests.yml
Due: none

docs(cli): improve code comments and readme of the @semaphore/cli package
  packages/cli/README.md
  packages/cli/src/checkLatestVersion.ts
  packages/cli/src/getGroupIds.ts
  packages/cli/src/index.ts
  packages/cli/src/inquirerPrompts.ts
  packages/cli/src/spinner.ts
Due: prettier --write, eslint

docs(hardhat): improve code comments and readme for @semaphore/hardhat package
  packages/hardhat/README.md
  packages/hardhat/src/index.ts
  packages/hardhat/src/tasks/deploy-semaphore-verifier.ts
  packages/hardhat/src/tasks/deploy-semaphore.ts
Due: prettier --write, eslint

docs(data): update package.json description and small nit on README
  packages/data/README.md
  packages/data/package.json
Due: prettier --write

docs(hardhat): update package.json description
  packages/hardhat/package.json
Due: prettier --write

Improve documentation for `@semaphore/hardhat` package (#772)
  packages/hardhat/README.md
  packages/hardhat/package.json
  packages/hardhat/src/index.ts
  packages/hardhat/src/tasks/deploy-semaphore-verifier.ts
  packages/hardhat/src/tasks/deploy-semaphore.ts
Due: prettier --write, eslint

Improve documentation for `@semaphore/data` package (#768)
  packages/data/README.md
  packages/data/package.json
  packages/data/src/checkParameter.ts
  packages/data/src/ethers.ts
  packages/data/src/getEvents.ts
  packages/data/src/getURL.ts
  packages/data/src/request.ts
  packages/data/src/subgraph.ts
  packages/data/src/utils.ts
Due: prettier --write, eslint

Improve documentation for `@semaphore/cli` package (#771)
  packages/cli/README.md
  packages/cli/src/checkLatestVersion.ts
  packages/cli/src/getGroupIds.ts
  packages/cli/src/index.ts
  packages/cli/src/inquirerPrompts.ts
  packages/cli/src/spinner.ts
Due: prettier --write, eslint

fix: update turbo.json
  turbo.json
Due: prettier --write

test(contracts): update contract tests to be more atomic and use loadFixture (#706) (#770)
  packages/contracts/test/Semaphore.ts
Due: prettier --write, eslint

chore: optimize pull-requests workflow (#765)
  .github/workflows/pull-requests.yml
  .lintstagedrc.json
Due: prettier --write

test: add missing tests
  packages/data/tests/ethers.test.ts
  packages/proof/tests/index.test.ts
Due: prettier --write, eslint

test(proof): update message type
  packages/proof/tests/index.test.ts
Due: prettier --write, eslint

test(proof): update constant
  packages/proof/tests/index.test.ts
Due: prettier --write, eslint

test(proof): update number constant
  packages/proof/tests/index.test.ts
Due: prettier --write, eslint

chore(website): update event list
  apps/website/src/data/events.json
Due: prettier --write

chore(website): update event list (#775)
  apps/website/src/data/events.json
Due: prettier --write

test: add missing tests in the js libraries (#774)
  packages/data/tests/ethers.test.ts
  packages/proof/tests/index.test.ts
Due: prettier --write, eslint

docs(docs): add v4 audit report
  apps/docs/versioned_docs/version-V4-beta/what-is-semaphore.md
  apps/website/public/Semaphore_2.0.0_Audit.pdf
  apps/website/public/Semaphore_2.5.0_Audit.pdf
  apps/website/public/Semaphore_3.0.0_Audit.pdf
  apps/website/public/Semaphore_4.0.0_Audit.pdf
Due: prettier --write

docs(docs): add v4 audit report (#777)
  apps/docs/versioned_docs/version-V4-beta/what-is-semaphore.md
  apps/website/public/Semaphore_2.0.0_Audit.pdf
  apps/website/public/Semaphore_2.5.0_Audit.pdf
  apps/website/public/Semaphore_3.0.0_Audit.pdf
  apps/website/public/Semaphore_4.0.0_Audit.pdf
Due: prettier --write

feat: support more tree depth
  packages/contracts/contracts/base/Constants.sol
  packages/contracts/contracts/base/SemaphoreVerifier.sol
  packages/proof/src/verification-keys.json
  packages/utils/src/constants.ts
Due: prettier --write, eslint

test(proof): update tests to support circuit changes and tree depth 2 - 32
  packages/proof/tests/index.test.ts
Due: prettier --write, eslint

fix(contracts): update verifier VK_POINTS
  packages/contracts/contracts/base/SemaphoreVerifier.sol
Due: prettier --write

test(proof): make tests more atomic
  packages/proof/tests/index.test.ts
Due: prettier --write, eslint

chore(circuits): update binary-merkle-root dependency
  packages/circuits/circomkit.json
  packages/circuits/package.json
  yarn.lock
Due: prettier --write

chore(circuits): update binary-merkle-root dependency (#780)
  packages/circuits/circomkit.json
  packages/circuits/package.json
  yarn.lock
Due: prettier --write

chore: update @zk-kit/imt and @zk-kit/imt.sol dependencies
  packages/contracts/contracts/package.json
  packages/contracts/package.json
  packages/group/package.json
  yarn.lock
Due: prettier --write
