Repository semaphore-protocol/semaphore: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

chore(contracts): yarn format & lint
  packages/contracts/contracts/base/SemaphoreVerifierKeyPts.sol
  packages/contracts/scripts/convert-dec-to-hex.ts
  packages/contracts/tasks/deploy.ts
Due: prettier --write, eslint

ci(circuits): update circom url
  .github/workflows/production.yml
  .github/workflows/pull-requests.yml
Due: none

ci: add -O flag to the wget command
  .github/workflows/production.yml
Due: none

ci(circuits): add sudo before running wget command
  .github/workflows/production.yml
  .github/workflows/pull-requests.yml
Due: none

chore: v4.3.1
  apps/docs/package.json
  packages/circuits/package.json
  packages/cli-template-contracts-hardhat/package.json
  packages/cli-template-monorepo-ethers/apps/contracts/package.json
  packages/cli-template-monorepo-ethers/apps/web-app/package.json
  packages/cli-template-monorepo-ethers/package.json
  packages/cli-template-monorepo-subgraph/apps/contracts/package.json
  packages/cli-template-monorepo-subgraph/apps/web-app/package.json
  packages/cli-template-monorepo-subgraph/package.json
  packages/cli/package.json
  packages/contracts/contracts/package.json
  packages/core/package.json
  packages/data/package.json
  packages/group/package.json
  packages/hardhat/package.json
  packages/identity/package.json
  packages/proof/package.json
  packages/utils/package.json
  yarn.lock
Due: prettier --write

refactor(contracts): update SemaphoreVerifierKeyPts library to be internal
  packages/contracts/contracts/base/SemaphoreVerifierKeyPts.sol
  packages/contracts/scripts/utils.ts
  packages/contracts/tasks/deploy.ts
Due: prettier --write, eslint

chore(contracts): update spacing
  packages/contracts/tasks/deploy.ts
Due: prettier --write, eslint

feat(identity): add generate commitment function
  packages/identity/src/index.ts
  packages/identity/tests/index.test.ts
Due: prettier --write, eslint

chore(contracts): updated per peer review and added invariant check for VerifierKeyPts lib
  packages/contracts/contracts/base/SemaphoreVerifier.sol
  packages/contracts/contracts/base/SemaphoreVerifierKeyPts.sol
  packages/contracts/scripts/convert-dec-to-hex.ts
Due: prettier --write, eslint

chore(contracts): update invariant check to revert with custom error
  packages/contracts/contracts/base/SemaphoreVerifierKeyPts.sol
Due: prettier --write

feat(identity): add generate commitment function (#877)
  packages/identity/src/index.ts
  packages/identity/tests/index.test.ts
Due: prettier --write, eslint

chore: v4.4.0
  apps/docs/package.json
  packages/circuits/package.json
  packages/cli-template-contracts-hardhat/package.json
  packages/cli-template-monorepo-ethers/apps/contracts/package.json
  packages/cli-template-monorepo-ethers/apps/web-app/package.json
  packages/cli-template-monorepo-ethers/package.json
  packages/cli-template-monorepo-subgraph/apps/contracts/package.json
  packages/cli-template-monorepo-subgraph/apps/web-app/package.json
  packages/cli-template-monorepo-subgraph/package.json
  packages/cli/package.json
  packages/contracts/contracts/package.json
  packages/core/package.json
  packages/data/package.json
  packages/group/package.json
  packages/hardhat/package.json
  packages/identity/package.json
  packages/proof/package.json
  packages/utils/package.json
  yarn.lock
Due: prettier --write

Split SemaphoreVerifier key points into a separate library (#875)
  packages/contracts/contracts/base/SemaphoreVerifier.sol
  packages/contracts/contracts/base/SemaphoreVerifierKeyPts.sol
  packages/contracts/tasks/deploy.ts
Due: prettier --write, eslint

style: change styling and add feedback link
  packages/cli-template-monorepo-ethers/apps/web-app/src/app/globals.css
  packages/cli-template-monorepo-ethers/apps/web-app/src/components/PageContainer.tsx
  packages/cli-template-monorepo-subgraph/apps/web-app/src/app/globals.css
  packages/cli-template-monorepo-subgraph/apps/web-app/src/components/PageContainer.tsx
Due: prettier --write, eslint

chore(cli-template-monorepo-subgraph): remove unused styles and icons
  packages/cli-template-monorepo-subgraph/apps/web-app/src/icons/IconAddCircleFill.tsx
  packages/cli-template-monorepo-subgraph/apps/web-app/src/icons/IconCheck.tsx
  packages/cli-template-monorepo-subgraph/apps/web-app/src/icons/IconChevronLeft.tsx
  packages/cli-template-monorepo-subgraph/apps/web-app/src/icons/IconChevronRight.tsx
  packages/cli-template-monorepo-subgraph/apps/web-app/src/icons/IconRefreshLine.tsx
  packages/cli-template-monorepo-subgraph/apps/web-app/src/styles/colors.ts
  packages/cli-template-monorepo-subgraph/apps/web-app/src/styles/components/Button.ts
  packages/cli-template-monorepo-subgraph/apps/web-app/src/styles/components/Link.ts
  packages/cli-template-monorepo-subgraph/apps/web-app/src/styles/components/Tooltip.ts
  packages/cli-template-monorepo-subgraph/apps/web-app/src/styles/components/index.ts
  packages/cli-template-monorepo-subgraph/apps/web-app/src/styles/index.ts
  packages/cli-template-monorepo-subgraph/apps/web-app/src/styles/styles.ts
Due: prettier --write, eslint

chore(website): update roadmap
  apps/website/src/data/roadmap.json
Due: prettier --write

chore(website): update roadmap (#878)
  apps/website/src/data/roadmap.json
Due: prettier --write

chore: remove unused context logs
  packages/cli-template-monorepo-ethers/apps/web-app/src/context/LogsContext.ts
  packages/cli-template-monorepo-ethers/apps/web-app/src/context/SemaphoreContext.ts
  packages/cli-template-monorepo-subgraph/apps/web-app/src/context/LogsContext.ts
  packages/cli-template-monorepo-subgraph/apps/web-app/src/context/SemaphoreContext.ts
Due: prettier --write, eslint

chore(cli-template-monorepo-subgraph): change data source subgraph web app
  packages/cli-template-monorepo-subgraph/apps/web-app/src/context/SemaphoreContext.tsx
Due: prettier --write, eslint

chore: change repo url
  packages/cli-template-monorepo-ethers/apps/web-app/src/components/PageContainer.tsx
  packages/cli-template-monorepo-subgraph/apps/web-app/src/components/PageContainer.tsx
Due: prettier --write, eslint

chore: remove unused hook useSemaphore
  packages/cli-template-monorepo-ethers/apps/web-app/src/hooks/useSemaphore.ts
  packages/cli-template-monorepo-subgraph/apps/web-app/src/hooks/useSemaphore.ts
Due: prettier --write, eslint

Added a new "Home" link to the header in the PageContainer component.
  packages/cli-template-monorepo-ethers/apps/web-app/src/components/PageContainer.tsx
Due: prettier --write, eslint

style: format code with prettier
  packages/cli-template-monorepo-ethers/apps/web-app/src/app/globals.css
  packages/cli-template-monorepo-subgraph/apps/web-app/src/app/globals.css
Due: none

chore: v4.4.1
  apps/docs/package.json
  packages/circuits/package.json
  packages/cli-template-contracts-hardhat/package.json
  packages/cli-template-monorepo-ethers/apps/contracts/package.json
  packages/cli-template-monorepo-ethers/apps/web-app/package.json
  packages/cli-template-monorepo-ethers/package.json
  packages/cli-template-monorepo-subgraph/apps/contracts/package.json
  packages/cli-template-monorepo-subgraph/apps/web-app/package.json
  packages/cli-template-monorepo-subgraph/package.json
  packages/cli/package.json
  packages/contracts/contracts/package.json
  packages/core/package.json
  packages/data/package.json
  packages/group/package.json
  packages/hardhat/package.json
  packages/identity/package.json
  packages/proof/package.json
  packages/utils/package.json
  yarn.lock
Due: prettier --write

chore: format
  .github/workflows/release.yml
Due: none

ci: set `soldeer` credentials in github workspace
  .github/workflows/release.yml
Due: none

Path conditions:
  prettier --write: any of: **/*.{js,ts,jsx,tsx,md,json,sol}
  eslint: any of: **/*.{js,ts,jsx,tsx}
