Repository semaphore-protocol/semaphore: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

modules
  packages/cli-template-contracts-foundry/test/TestFeedback.t.sol
Due: prettier --write

modules
  packages/cli-template-contracts-foundry/Makefile
Due: none

change test name
  packages/cli-template-contracts-foundry/test/TestFeedback.t.sol
Due: prettier --write

modify declaration of semaphore and verifier
  packages/cli-template-contracts-foundry/script/DeployFeedback.s.sol
Due: prettier --write

Modify Test Function Name
  packages/cli-template-contracts-foundry/test/TestFeedback.t.sol
Due: prettier --write

Add Test Chain Target
  packages/cli-template-contracts-foundry/Makefile
Due: none

forge std install
  packages/cli-template-contracts-foundry/Makefile
Due: none

style(cli-template-monorepo-ethers): update globals.css
  packages/cli-template-monorepo-ethers/apps/web-app/src/app/globals.css
Due: none

refactor(cli-template-monorepo-ethers): replace chakra with plain html+css on cli-ethers page.tsx
  packages/cli-template-monorepo-ethers/apps/web-app/src/app/page.tsx
Due: prettier --write, eslint

Path conditions:
  prettier --write: any of: **/*.{js,ts,jsx,tsx,md,json,sol}
  eslint: any of: **/*.{js,ts,jsx,tsx}
