Repository semaphore-protocol/semaphore: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

chore: v4.7.0
  apps/docs/package.json
  packages/circuits/package.json
  packages/cli-template-contracts-hardhat/package.json
  packages/cli-template-monorepo-ethers/apps/contracts/package.json
  packages/cli-template-monorepo-ethers/apps/web-app/package.json
  packages/cli-template-monorepo-ethers/package.json
  packages/cli-template-monorepo-subgraph/apps/contracts/package.json
  packages/cli-template-monorepo-subgraph/apps/web-app/package.json
  packages/cli-template-monorepo-subgraph/package.json
  packages/cli/package.json
  packages/contracts/contracts/package.json
  packages/core/package.json
  packages/data/package.json
  packages/group/package.json
  packages/hardhat/package.json
  packages/identity/package.json
  packages/proof/package.json
  packages/utils/package.json
  yarn.lock
Due: prettier --write

updated
  .gitmodules
  packages/cli-template-contracts-foundry/.gitignore
  packages/cli-template-contracts-foundry/.gitmodules
  packages/cli-template-contracts-foundry/README.md
  packages/cli-template-contracts-foundry/foundry.toml
  packages/cli-template-contracts-foundry/package.json
  packages/cli-template-contracts-foundry/remappings.txt
  packages/cli-template-contracts-foundry/script/DeployFeedback.s.sol
  packages/cli-template-contracts-foundry/src/Feedback.sol
  packages/cli-template-contracts-foundry/test/TestFeedback.t.sol
  yarn.lock
Due: prettier --write

forge build works
  packages/cli-template-contracts-foundry/package.json
  packages/cli-template-contracts-foundry/remappings.txt
  yarn.lock
Due: prettier --write

Fixed for linting
  packages/cli-template-contracts-foundry/.solhint.json
  packages/cli-template-contracts-foundry/package.json
  packages/cli-template-contracts-foundry/script/DeployFeedback.s.sol
  packages/cli-template-contracts-foundry/src/Feedback.sol
  packages/cli-template-contracts-foundry/test/TestFeedback.t.sol
  yarn.lock
Due: prettier --write

chore(cli-template-contracts-foundry): make the lint, prettier, and lint-staged pass
  packages/cli-template-contracts-foundry/.prettierrc.json
  packages/cli-template-contracts-foundry/.solhint.json
  packages/cli-template-contracts-foundry/package.json
  yarn.lock
Due: prettier --write

chore(cli-template-contracts-foundry): replace Makefile(removed) with package.json
  packages/cli-template-contracts-foundry/.gitignore
  packages/cli-template-contracts-foundry/Makefile
  packages/cli-template-contracts-foundry/foundry.toml
  packages/cli-template-contracts-foundry/package.json
  packages/cli-template-contracts-foundry/script/DeployFeedback.s.sol
Due: prettier --write

chore(cli-template-contracts-foundry): passing the ci test
  packages/cli-template-contracts-foundry/foundry.toml
  packages/cli-template-contracts-foundry/package.json
  packages/cli-template-contracts-foundry/src/Feedback.sol
Due: prettier --write

updated test
  packages/cli-template-contracts-foundry/package.json
  packages/cli-template-contracts-foundry/script/DeployFeedback.s.sol
  packages/cli-template-contracts-foundry/test/Feedback.t.sol
  packages/cli-template-contracts-foundry/test/TestFeedback.t.sol
Due: prettier --write

chore: fix 404 status URL
  apps/docs/i18n/es/docusaurus-plugin-content-docs/version-V1/audit.md
  apps/docs/versioned_docs/version-V1/audit.md
Due: prettier --write

chore: fix 404 status URL (#904)
  apps/docs/i18n/es/docusaurus-plugin-content-docs/version-V1/audit.md
  apps/docs/versioned_docs/version-V1/audit.md
Due: prettier --write

docs(subgraph): update README.md
  apps/subgraph/README.md
Due: prettier --write

docs(subgraph): update README.md (#906)
  apps/subgraph/README.md
Due: prettier --write

typo howitworks.md
  apps/docs/versioned_docs/version-V1/howitworks.md
Due: prettier --write

typos libsemaphore.md
  apps/docs/versioned_docs/version-V1/libsemaphore.md
Due: prettier --write

typos what-is-semaphore.md
  apps/docs/versioned_docs/version-V1/what-is-semaphore.md
Due: prettier --write

typo subgraph.md
  apps/docs/versioned_docs/version-V2/subgraph.md
Due: prettier --write

typo identities.mdx
  apps/docs/versioned_docs/version-V4/guides/identities.mdx
Due: none

typo proofs.mdx
  apps/docs/versioned_docs/version-V4/guides/proofs.mdx
Due: none

typos page.tsx
  apps/website/src/app/build/page.tsx
Due: prettier --write, eslint

typo page.tsx
  apps/website/src/app/page.tsx
Due: prettier --write, eslint

feat(cli-template-contracts-foundry): complete cli-template-contracts-foundry
  packages/cli-template-contracts-foundry/.env.example
  packages/cli-template-contracts-foundry/README.md
  packages/cli-template-contracts-foundry/foundry.toml
  packages/cli-template-contracts-foundry/package.json
  packages/cli-template-contracts-foundry/script/DeployFeedback.s.sol
  packages/cli-template-contracts-foundry/test/Feedback.t.sol
  yarn.lock
Due: prettier --write

Update dependencies
  packages/cli-template-contracts-foundry/package.json
  yarn.lock
Due: prettier --write

Fix HTML structure to adhere to standards Update README.md
  apps/website/README.md
Due: prettier --write

Fix typo in section.identities.box2.description Update code.json
  apps/docs/i18n/es/code.json
Due: prettier --write

Add explanation on `yarn dev`
  packages/cli-template-contracts-foundry/README.md
Due: prettier --write

Fix typo in section.identities.box2.description Update code.json (#909)
  apps/docs/i18n/es/code.json
Due: prettier --write

docs: Typo Fixes and Documentation Updates (#907)
  apps/docs/versioned_docs/version-V1/howitworks.md
  apps/docs/versioned_docs/version-V1/libsemaphore.md
  apps/docs/versioned_docs/version-V1/what-is-semaphore.md
  apps/docs/versioned_docs/version-V2/subgraph.md
  apps/docs/versioned_docs/version-V4/guides/identities.mdx
  apps/docs/versioned_docs/version-V4/guides/proofs.mdx
  apps/website/src/app/build/page.tsx
  apps/website/src/app/page.tsx
Due: prettier --write, eslint

fix(cli-template-contracts-foundry): fix `yarn dev` command and add docs on integrate w/ boilerplate
  packages/cli-template-contracts-foundry/.gitignore
  packages/cli-template-contracts-foundry/README.md
  packages/cli-template-contracts-foundry/foundry.toml
  packages/cli-template-contracts-foundry/package.json
  packages/cli-template-contracts-foundry/script/DeployFeedback.s.sol
  packages/cli-template-contracts-foundry/test/Feedback.t.sol
Due: prettier --write

fix(group): after a sequence of updates a proof is invalid
  packages/contracts/test/Semaphore.ts
  packages/group/package.json
  yarn.lock
Due: prettier --write, eslint

chore(website): add ethindia event to the website
  apps/website/src/data/events.json
Due: prettier --write

chore(website): add ethindia event to the website (#911)
  apps/website/src/data/events.json
Due: prettier --write

chore: update subgraph versions
  apps/subgraph/README.md
  packages/data/src/getURL.ts
Due: prettier --write, eslint

typos quick-setup.md
  apps/docs/i18n/es/docusaurus-plugin-content-docs/version-V2/quick-setup.md
Due: prettier --write

Path conditions:
  prettier --write: any of: **/*.{js,ts,jsx,tsx,md,json,sol}
  eslint: any of: **/*.{js,ts,jsx,tsx}
