Repository semaphore-protocol/semaphore: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

fix broken link
  packages/identity/README.md
Due: prettier --write

fix broken link
  packages/proof/README.md
Due: prettier --write

fix(website): update nextjs version
  apps/website/package.json
  yarn.lock
Due: prettier --write

docs: clarify supported environments
  apps/docs/versioned_docs/version-V4/what-is-semaphore.md
Due: prettier --write

fix: correct root getter JSDoc return type
  packages/group/src/index.ts
Due: prettier --write, eslint

chore(license): update year to 2026
  LICENSE
Due: none

fix: remove trailing whitespace from Optimism RPC URL
  packages/utils/src/networks/supported-networks.ts
Due: prettier --write, eslint

fix(group): allow 0n values in Group constructor
  packages/group/src/index.ts
  packages/group/tests/index.test.ts
Due: prettier --write, eslint

fix(group): allow 0n values in Group constructor (#1079)
  packages/group/src/index.ts
  packages/group/tests/index.test.ts
Due: prettier --write, eslint

chore: v4.14.1
  apps/docs/package.json
  packages/circuits/package.json
  packages/cli-template-contracts-foundry/package.json
  packages/cli-template-contracts-hardhat/package.json
  packages/cli-template-monorepo-ethers/apps/contracts/package.json
  packages/cli-template-monorepo-ethers/apps/web-app/package.json
  packages/cli-template-monorepo-ethers/package.json
  packages/cli-template-monorepo-subgraph/apps/contracts/package.json
  packages/cli-template-monorepo-subgraph/apps/web-app/package.json
  packages/cli-template-monorepo-subgraph/package.json
  packages/cli/package.json
  packages/contracts/contracts/package.json
  packages/core/package.json
  packages/data/package.json
  packages/group/package.json
  packages/hardhat/package.json
  packages/identity/package.json
  packages/proof/package.json
  packages/utils/package.json
  yarn.lock
Due: prettier --write

fix(data): use member index from event instead of array position in SemaphoreEthers.getGroupMembers
  packages/data/src/ethers.ts
  packages/data/tests/ethers.test.ts
Due: prettier --write, eslint

fix(data): use member index from event instead of array position in S… (#1081)
  packages/data/src/ethers.ts
  packages/data/tests/ethers.test.ts
Due: prettier --write, eslint

chore: v4.14.2
  apps/docs/package.json
  packages/circuits/package.json
  packages/cli-template-contracts-foundry/package.json
  packages/cli-template-contracts-hardhat/package.json
  packages/cli-template-monorepo-ethers/apps/contracts/package.json
  packages/cli-template-monorepo-ethers/apps/web-app/package.json
  packages/cli-template-monorepo-ethers/package.json
  packages/cli-template-monorepo-subgraph/apps/contracts/package.json
  packages/cli-template-monorepo-subgraph/apps/web-app/package.json
  packages/cli-template-monorepo-subgraph/package.json
  packages/cli/package.json
  packages/contracts/contracts/package.json
  packages/core/package.json
  packages/data/package.json
  packages/group/package.json
  packages/hardhat/package.json
  packages/identity/package.json
  packages/proof/package.json
  packages/utils/package.json
  yarn.lock
Due: prettier --write

docs: add mobile SDKs documentation for iOS, Android, React Native, and Flutter
  apps/docs/versioned_docs/version-V4/mobile.mdx
Due: none

docs: extend syntax highlighting for dart
  apps/docs/docusaurus.config.ts
Due: prettier --write, eslint

docs: add mobile SDKs documentation (#1082)
  apps/docs/docusaurus.config.ts
  apps/docs/versioned_docs/version-V4/mobile.mdx
Due: prettier --write, eslint

Update getGroupIds.ts
  packages/cli/src/getGroupIds.ts
Due: prettier --write, eslint

Handle missing subgraph groups
  packages/data/src/subgraph.ts
  packages/data/tests/subgraph.test.ts
Due: prettier --write, eslint

chore(group): update lean-imt package version
  packages/group/package.json
  yarn.lock
Due: prettier --write

feat(proof): feat(proof): support single-threaded proof generation
  packages/proof/README.md
  packages/proof/package.json
  packages/proof/src/generate-proof.ts
  packages/proof/src/types/index.ts
  packages/proof/tests/index.test.ts
  yarn.lock
Due: prettier --write, eslint

fix(group): fix(group): reject string representations of zero
  packages/group/src/index.ts
  packages/group/tests/index.test.ts
Due: prettier --write, eslint

fix(contracts): start the root expiration countdown when a root is replaced
  packages/contracts/contracts/Semaphore.sol
  packages/contracts/contracts/interfaces/ISemaphore.sol
  packages/contracts/test/Semaphore.ts
Due: prettier --write, eslint

fix(contracts): prevent overflow when the Merkle tree duration is very large
  packages/contracts/contracts/Semaphore.sol
  packages/contracts/test/Semaphore.ts
Due: prettier --write, eslint

fix(contracts): start the root expiration countdown when a root is replaced (#1094)
  packages/contracts/contracts/Semaphore.sol
  packages/contracts/contracts/interfaces/ISemaphore.sol
  packages/contracts/test/Semaphore.ts
Due: prettier --write, eslint

fix(data): fix(data): handle zero member indexes in SemaphoreViem
  packages/data/src/viem.ts
  packages/data/tests/viem.test.ts
Due: prettier --write, eslint

Path conditions:
  prettier --write: any of: **/*.{js,ts,jsx,tsx,md,json,sol}
  eslint: any of: **/*.{js,ts,jsx,tsx}
