Repository semaphore-protocol/semaphore: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc.json:

{
    "**/*.{js,ts,jsx,tsx,md,json,sol}": "prettier --write",
    "**/*.{js,ts,jsx,tsx}": "eslint"
}

chore(subgraph): update matchstick-as dependency (#946)
  .github/workflows/production.yml
  .github/workflows/pull-requests.yml
  apps/subgraph/package.json
  yarn.lock
Due: prettier --write

Update broken links page.tsx
  packages/cli-template-monorepo-ethers/apps/web-app/src/app/group/page.tsx
Due: prettier --write, eslint

Update broken links page.tsx
  packages/cli-template-monorepo-subgraph/apps/web-app/src/app/group/page.tsx
Due: prettier --write, eslint

Update broken links glossary.md
  apps/docs/versioned_docs/version-V4/glossary.md
Due: prettier --write

Update broken link index.ts
  packages/group/src/index.ts
Due: prettier --write, eslint

Update broken links subgraph.ts
  packages/data/src/subgraph.ts
Due: prettier --write, eslint

Update broken links contracts.md
  apps/docs/i18n/es/docusaurus-plugin-content-docs/version-V2/technical-reference/contracts.md
Due: prettier --write

Update LICENSE
  LICENSE
Due: none

Update apps/website/src/data/articles.json
  apps/website/src/data/articles.json
Due: prettier --write

Add new article (#918)
  apps/website/src/data/articles.json
Due: prettier --write

refactor(data): refactor parameter validation using @zk-kit/utils
  packages/data/src/checkParameter.ts
  packages/data/src/ethers.ts
  packages/data/src/subgraph.ts
Due: prettier --write, eslint

refactor(data): only import requireString
  packages/data/src/ethers.ts
Due: prettier --write, eslint

chore(data): add @zk-kit/utils dependency
  packages/data/package.json
  yarn.lock
Due: prettier --write

refactor(data): replace errorHandlers with requireString, requireObject, and requireBoolean
  packages/data/src/subgraph.ts
Due: prettier --write, eslint

chore(deps): remove unused JSONStream package version
  yarn.lock
Due: none

chore: added rimraf
  yarn.lock
Due: none

fix: clean node_modules before build contracts
  package.json
Due: prettier --write

revert(subgraph): reverses changes made
  package.json
Due: prettier --write

revert(subgraph): reverses changes made (#952)
  package.json
Due: prettier --write

Refactor/type-validation (#951)
  packages/data/package.json
  packages/data/src/checkParameter.ts
  packages/data/src/ethers.ts
  packages/data/src/subgraph.ts
  yarn.lock
Due: prettier --write, eslint

chore: update utils package version
  packages/group/package.json
  packages/identity/package.json
  packages/proof/package.json
  yarn.lock
Due: prettier --write

chore: update utils package version (#954)
  packages/group/package.json
  packages/identity/package.json
  packages/proof/package.json
  yarn.lock
Due: prettier --write

chore: v4.9.0
  apps/docs/package.json
  packages/circuits/package.json
  packages/cli-template-contracts-foundry/package.json
  packages/cli-template-contracts-hardhat/package.json
  packages/cli-template-monorepo-ethers/apps/contracts/package.json
  packages/cli-template-monorepo-ethers/apps/web-app/package.json
  packages/cli-template-monorepo-ethers/package.json
  packages/cli-template-monorepo-subgraph/apps/contracts/package.json
  packages/cli-template-monorepo-subgraph/apps/web-app/package.json
  packages/cli-template-monorepo-subgraph/package.json
  packages/cli/package.json
  packages/contracts/contracts/package.json
  packages/core/package.json
  packages/data/package.json
  packages/group/package.json
  packages/hardhat/package.json
  packages/identity/package.json
  packages/proof/package.json
  packages/utils/package.json
  yarn.lock
Due: prettier --write

Update code.json
  apps/docs/i18n/es/code.json
Due: prettier --write

Update libsemaphore.md
  apps/docs/i18n/es/docusaurus-plugin-content-docs/version-V1/libsemaphore.md
Due: prettier --write

chore: fixes broken link for LeanMIT
  apps/docs/versioned_docs/version-V4/glossary.md
  packages/cli-template-monorepo-ethers/apps/web-app/src/app/group/page.tsx
  packages/cli-template-monorepo-subgraph/apps/web-app/src/app/group/page.tsx
  packages/cli-template-monorepo-subgraph/apps/web-app/src/app/groups/page.tsx
  packages/data/src/subgraph.ts
  packages/group/src/index.ts
Due: prettier --write, eslint

Fix broken link for LeanMIT (#956)
  apps/docs/versioned_docs/version-V4/glossary.md
  packages/cli-template-monorepo-ethers/apps/web-app/src/app/group/page.tsx
  packages/cli-template-monorepo-subgraph/apps/web-app/src/app/group/page.tsx
  packages/cli-template-monorepo-subgraph/apps/web-app/src/app/groups/page.tsx
  packages/data/src/subgraph.ts
  packages/group/src/index.ts
Due: prettier --write, eslint

chore(group): update leanimt package version
  packages/group/package.json
  yarn.lock
Due: prettier --write

chore(group): update leanimt package version (#957)
  packages/group/package.json
  yarn.lock
Due: prettier --write

chore: v4.9.1
  apps/docs/package.json
  packages/circuits/package.json
  packages/cli-template-contracts-foundry/package.json
  packages/cli-template-contracts-hardhat/package.json
  packages/cli-template-monorepo-ethers/apps/contracts/package.json
  packages/cli-template-monorepo-ethers/apps/web-app/package.json
  packages/cli-template-monorepo-ethers/package.json
  packages/cli-template-monorepo-subgraph/apps/contracts/package.json
  packages/cli-template-monorepo-subgraph/apps/web-app/package.json
  packages/cli-template-monorepo-subgraph/package.json
  packages/cli/package.json
  packages/contracts/contracts/package.json
  packages/core/package.json
  packages/data/package.json
  packages/group/package.json
  packages/hardhat/package.json
  packages/identity/package.json
  packages/proof/package.json
  packages/utils/package.json
  yarn.lock
Due: prettier --write

Update what-is-semaphore.md
  apps/docs/i18n/es/docusaurus-plugin-content-docs/version-V1/what-is-semaphore.md
Due: prettier --write

Update subgraph.md
  apps/docs/i18n/es/docusaurus-plugin-content-docs/version-V2/subgraph.md
Due: prettier --write

docs(website): update spec status to true on roadmap
  apps/website/src/data/roadmap.json
Due: prettier --write

docs(website): update spec status to true on roadmap (#959)
  apps/website/src/data/roadmap.json
Due: prettier --write

Update subgraph.test.ts
  packages/data/tests/subgraph.test.ts
Due: prettier --write, eslint
