Repository semaphore-protocol/semaphore: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

chore: v4.0.0-beta.13
  apps/docs/package.json
  packages/circuits/package.json
  packages/cli-template-contracts-hardhat/package.json
  packages/cli-template-monorepo-ethers/apps/contracts/package.json
  packages/cli-template-monorepo-ethers/apps/web-app/package.json
  packages/cli-template-monorepo-ethers/package.json
  packages/cli-template-monorepo-subgraph/apps/contracts/package.json
  packages/cli-template-monorepo-subgraph/apps/web-app/package.json
  packages/cli-template-monorepo-subgraph/package.json
  packages/cli/package.json
  packages/contracts/contracts/package.json
  packages/core/package.json
  packages/data/package.json
  packages/group/package.json
  packages/hardhat/package.json
  packages/identity/package.json
  packages/proof/package.json
  packages/utils/package.json
  yarn.lock
Due: prettier --write

chore(proof): update `@zk-kit/artifacts` dep version
  packages/proof/package.json
  yarn.lock
Due: prettier --write

Update pull_request_template.md
  .github/pull_request_template.md
Due: prettier --write

chore(proof): update `@zk-kit/artifacts` dep version (#806)
  packages/proof/package.json
  yarn.lock
Due: prettier --write

docs: update pull_request_template.md (#807)
  .github/pull_request_template.md
Due: prettier --write

chore: v4.0.0-beta.14
  apps/docs/package.json
  packages/circuits/package.json
  packages/cli-template-contracts-hardhat/package.json
  packages/cli-template-monorepo-ethers/apps/contracts/package.json
  packages/cli-template-monorepo-ethers/apps/web-app/package.json
  packages/cli-template-monorepo-ethers/package.json
  packages/cli-template-monorepo-subgraph/apps/contracts/package.json
  packages/cli-template-monorepo-subgraph/apps/web-app/package.json
  packages/cli-template-monorepo-subgraph/package.json
  packages/cli/package.json
  packages/contracts/contracts/package.json
  packages/core/package.json
  packages/data/package.json
  packages/group/package.json
  packages/hardhat/package.json
  packages/identity/package.json
  packages/proof/package.json
  packages/utils/package.json
  yarn.lock
Due: prettier --write

chore: remove unused env variable
  .env.example
Due: none

chore: deploy contracts and replace mumbai with amoy
  apps/subgraph/README.md
  apps/subgraph/package.json
  apps/subgraph/scripts/generate-subgraph.js
  packages/contracts/package.json
  packages/data/src/getURL.ts
  packages/data/src/types/index.ts
  packages/utils/src/networks/deployed-contracts.json
  packages/utils/src/networks/supported-networks.ts
  yarn.lock
Due: prettier --write, eslint

docs(subgraph): update README.md
  apps/subgraph/README.md
Due: prettier --write

style(subgraph): format code with prettier
  apps/subgraph/README.md
Due: prettier --write

docs(contracts): update deploy command name
  packages/contracts/contracts/README.md
Due: prettier --write

chore: deploy contracts and replace mumbai with amoy (#809)
  .env.example
  apps/subgraph/README.md
  apps/subgraph/package.json
  apps/subgraph/scripts/generate-subgraph.js
  packages/contracts/contracts/README.md
  packages/contracts/package.json
  packages/data/src/getURL.ts
  packages/data/src/types/index.ts
  packages/utils/src/networks/deployed-contracts.json
  packages/utils/src/networks/supported-networks.ts
  yarn.lock
Due: prettier --write, eslint

chore: v4.0.0-beta.15
  apps/docs/package.json
  packages/circuits/package.json
  packages/cli-template-contracts-hardhat/package.json
  packages/cli-template-monorepo-ethers/apps/contracts/package.json
  packages/cli-template-monorepo-ethers/apps/web-app/package.json
  packages/cli-template-monorepo-ethers/package.json
  packages/cli-template-monorepo-subgraph/apps/contracts/package.json
  packages/cli-template-monorepo-subgraph/apps/web-app/package.json
  packages/cli-template-monorepo-subgraph/package.json
  packages/cli/package.json
  packages/contracts/contracts/package.json
  packages/core/package.json
  packages/data/package.json
  packages/group/package.json
  packages/hardhat/package.json
  packages/identity/package.json
  packages/proof/package.json
  packages/utils/package.json
  yarn.lock
Due: prettier --write

chore: group test log outputs
  package.json
Due: prettier --write

chore: parallelize build scripts
  apps/subgraph/package.json
  package.json
Due: prettier --write

chore: run tests concurrently
  package.json
  yarn.lock
Due: prettier --write

chore: execute lint and format scripts concurrently
  package.json
Due: prettier --write

refactor(contracts): add missing implicit method from interface
  packages/contracts/contracts/Semaphore.sol
  packages/contracts/contracts/interfaces/ISemaphore.sol
Due: prettier --write

Add missing implicit method from contract to interface (#814)
  packages/contracts/contracts/Semaphore.sol
  packages/contracts/contracts/interfaces/ISemaphore.sol
Due: prettier --write

chore: v4.0.0-beta.16
  apps/docs/package.json
  packages/circuits/package.json
  packages/cli-template-contracts-hardhat/package.json
  packages/cli-template-monorepo-ethers/apps/contracts/package.json
  packages/cli-template-monorepo-ethers/apps/web-app/package.json
  packages/cli-template-monorepo-ethers/package.json
  packages/cli-template-monorepo-subgraph/apps/contracts/package.json
  packages/cli-template-monorepo-subgraph/apps/web-app/package.json
  packages/cli-template-monorepo-subgraph/package.json
  packages/cli/package.json
  packages/contracts/contracts/package.json
  packages/core/package.json
  packages/data/package.json
  packages/group/package.json
  packages/hardhat/package.json
  packages/identity/package.json
  packages/proof/package.json
  packages/utils/package.json
  yarn.lock
Due: prettier --write

refactor: do no use wildcard for test script`
  package.json
Due: prettier --write

perf: speed up local scripts (#810)
  apps/subgraph/package.json
  package.json
  yarn.lock
Due: prettier --write

chore(contracts): add function to deploy contracts deterministically
  packages/contracts/scripts/utils.ts
  packages/contracts/tasks/deploy.ts
Due: prettier --write, eslint

chore(contracts): return correct contract instance
  packages/contracts/scripts/utils.ts
  packages/contracts/tasks/deploy.ts
Due: prettier --write, eslint

chore(contracts): add function to deploy contracts deterministically (#816)
  packages/contracts/scripts/utils.ts
  packages/contracts/tasks/deploy.ts
Due: prettier --write, eslint

ci(contracts): a script that moves the abi.json file created to utils folder
  package.json
Due: prettier --write

refactor(utils): allows packages to import abi from @semaphore-protocol/utils
  packages/data/src/ethers.ts
  packages/utils/src/constants.ts
Due: prettier --write, eslint

feat(proof): encode solidity calldata for proof
  apps/docs/versioned_docs/version-V4-beta/guides/proofs.mdx
  packages/proof/src/generate-proof.ts
  packages/proof/src/index.ts
  packages/proof/tests/index.test.ts
Due: prettier --write, eslint

chore: define separate version.ts script
  .eslintrc.json
  package.json
  scripts/version.ts
  yarn.lock
Due: prettier --write, eslint

chore: include publishing to soldeer in script
  .eslintrc.json
  package.json
  scripts/publish.ts
  yarn.lock
Due: prettier --write, eslint

fix(contracts): push to soldeer
  scripts/publish.ts
Due: prettier --write, eslint

Path conditions:
  prettier --write: any of: **/*.{js,ts,jsx,tsx,md,json,sol}
  eslint: any of: **/*.{js,ts,jsx,tsx}
