Repository semaphore-protocol/semaphore: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc.json:

{
    "**/*.{js,ts,jsx,tsx,md,json,sol}": "prettier --write",
    "**/*.{js,ts,jsx,tsx}": "eslint"
}

refactor(cli-template-monorepo-subgraph): update cli-template-monorepo-subgraph web app UI
  packages/cli-template-monorepo-subgraph/apps/web-app/.env.development
  packages/cli-template-monorepo-subgraph/apps/web-app/.env.production
  packages/cli-template-monorepo-subgraph/apps/web-app/.gitignore
  packages/cli-template-monorepo-subgraph/apps/web-app/contract-artifacts/Feedback.json
  packages/cli-template-monorepo-subgraph/apps/web-app/next.config.mjs
  packages/cli-template-monorepo-subgraph/apps/web-app/package.json
  packages/cli-template-monorepo-subgraph/apps/web-app/src/app/api/feedback/route.ts
  packages/cli-template-monorepo-subgraph/apps/web-app/src/app/api/join/route.ts
  packages/cli-template-monorepo-subgraph/apps/web-app/src/app/group/page.tsx
  packages/cli-template-monorepo-subgraph/apps/web-app/src/app/layout.tsx
  packages/cli-template-monorepo-subgraph/apps/web-app/src/app/page.tsx
  packages/cli-template-monorepo-subgraph/apps/web-app/src/app/proofs/page.tsx
  packages/cli-template-monorepo-subgraph/apps/web-app/src/app/providers.tsx
  packages/cli-template-monorepo-subgraph/apps/web-app/src/components/PageContainer.tsx
  packages/cli-template-monorepo-subgraph/apps/web-app/src/components/Stepper.tsx
  packages/cli-template-monorepo-subgraph/apps/web-app/src/context/LogContext.tsx
  packages/cli-template-monorepo-subgraph/apps/web-app/src/context/SemaphoreContext.tsx
  packages/cli-template-monorepo-subgraph/apps/web-app/src/hooks/useSemaphoreIdentity.ts
  packages/cli-template-monorepo-subgraph/apps/web-app/src/icons/IconAddCircleFill.tsx
  packages/cli-template-monorepo-subgraph/apps/web-app/src/icons/IconCheck.tsx
  packages/cli-template-monorepo-subgraph/apps/web-app/src/icons/IconChevronLeft.tsx
  packages/cli-template-monorepo-subgraph/apps/web-app/src/icons/IconChevronRight.tsx
  packages/cli-template-monorepo-subgraph/apps/web-app/src/icons/IconRefreshLine.tsx
  packages/cli-template-monorepo-subgraph/apps/web-app/src/styles/colors.ts
  packages/cli-template-monorepo-subgraph/apps/web-app/src/styles/components/Button.ts
  packages/cli-template-monorepo-subgraph/apps/web-app/src/styles/components/Link.ts
  packages/cli-template-monorepo-subgraph/apps/web-app/src/styles/components/Tooltip.ts
  packages/cli-template-monorepo-subgraph/apps/web-app/src/styles/components/index.ts
  packages/cli-template-monorepo-subgraph/apps/web-app/src/styles/index.ts
  packages/cli-template-monorepo-subgraph/apps/web-app/src/styles/styles.ts
Due: prettier --write, eslint

refactor(cli-template-monorepo-subgraph): rename subgraph web app on package.json
  packages/cli-template-monorepo-subgraph/apps/web-app/package.json
Due: prettier --write

refactor: update yarn.lock
  yarn.lock
Due: none

fix(proof): replace root public signal with actual root
  packages/proof/src/generate-proof.ts
  packages/proof/tests/index.test.ts
Due: prettier --write, eslint

chore(website): add new project
  apps/website/src/data/projects.json
Due: prettier --write

fix(proof): replace root public signal with actual root (#843)
  packages/proof/src/generate-proof.ts
  packages/proof/tests/index.test.ts
Due: prettier --write, eslint

chore: v4.0.1
  apps/docs/package.json
  apps/subgraph/package.json
  packages/circuits/package.json
  packages/cli-template-contracts-hardhat/package.json
  packages/cli-template-monorepo-ethers/apps/contracts/package.json
  packages/cli-template-monorepo-ethers/apps/web-app/package.json
  packages/cli-template-monorepo-ethers/package.json
  packages/cli-template-monorepo-subgraph/apps/contracts/package.json
  packages/cli-template-monorepo-subgraph/apps/web-app/package.json
  packages/cli-template-monorepo-subgraph/package.json
  packages/cli/package.json
  packages/contracts/contracts/package.json
  packages/core/package.json
  packages/data/package.json
  packages/group/package.json
  packages/hardhat/package.json
  packages/identity/package.json
  packages/proof/package.json
  packages/utils/package.json
  yarn.lock
Due: prettier --write

chore(website): add new project (#844)
  apps/website/src/data/projects.json
Due: prettier --write

chore: add pairwise to the list of projects
  apps/website/src/data/projects.json
Due: prettier --write

refactor: remove slash from the website url
  apps/website/src/data/projects.json
Due: prettier --write

refactor: remove www from website url
  apps/website/src/data/projects.json
Due: prettier --write

chore: add pairwise to the list of projects (#846)
  apps/website/src/data/projects.json
Due: prettier --write

chore: fix indentation error on yarn.lock
  packages/cli-template-monorepo-ethers/apps/web-app/package.json
  packages/cli-template-monorepo-subgraph/apps/web-app/package.json
  yarn.lock
Due: prettier --write

fix(group): update lean-imt dependency
  packages/group/package.json
  packages/group/src/index.ts
  packages/group/tests/index.test.ts
  yarn.lock
Due: prettier --write, eslint

fix(group): update lean-imt dependency (#850)
  packages/group/package.json
  packages/group/src/index.ts
  packages/group/tests/index.test.ts
  yarn.lock
Due: prettier --write, eslint

chore: v4.0.2
  apps/docs/package.json
  apps/subgraph/package.json
  packages/circuits/package.json
  packages/cli-template-contracts-hardhat/package.json
  packages/cli-template-monorepo-ethers/apps/contracts/package.json
  packages/cli-template-monorepo-ethers/apps/web-app/package.json
  packages/cli-template-monorepo-ethers/package.json
  packages/cli-template-monorepo-subgraph/apps/contracts/package.json
  packages/cli-template-monorepo-subgraph/apps/web-app/package.json
  packages/cli-template-monorepo-subgraph/package.json
  packages/cli/package.json
  packages/contracts/contracts/package.json
  packages/core/package.json
  packages/data/package.json
  packages/group/package.json
  packages/hardhat/package.json
  packages/identity/package.json
  packages/proof/package.json
  packages/utils/package.json
  yarn.lock
Due: prettier --write

Semaphore identity example code bug fix
  packages/identity/README.md
Due: prettier --write

Receive suggestion for consistency
  packages/identity/README.md
Due: prettier --write

Semaphore Identity example code bug fix (Fix #848) (#849)
  packages/identity/README.md
Due: prettier --write

chore: update cli monorepo package.json
  packages/cli-template-monorepo-ethers/apps/web-app/package.json
  packages/cli-template-monorepo-subgraph/apps/web-app/package.json
  yarn.lock
Due: prettier --write

chore: v4.0.3
  apps/docs/package.json
  apps/subgraph/package.json
  packages/circuits/package.json
  packages/cli-template-contracts-hardhat/package.json
  packages/cli-template-monorepo-ethers/apps/contracts/package.json
  packages/cli-template-monorepo-ethers/apps/web-app/package.json
  packages/cli-template-monorepo-ethers/package.json
  packages/cli-template-monorepo-subgraph/apps/contracts/package.json
  packages/cli-template-monorepo-subgraph/apps/web-app/package.json
  packages/cli-template-monorepo-subgraph/package.json
  packages/cli/package.json
  packages/contracts/contracts/package.json
  packages/core/package.json
  packages/data/package.json
  packages/group/package.json
  packages/hardhat/package.json
  packages/identity/package.json
  packages/proof/package.json
  packages/utils/package.json
  yarn.lock
Due: prettier --write

Update README.md
  README.md
Due: prettier --write

Update contract-api.md
  apps/docs/versioned_docs/version-V1/contract-api.md
Due: prettier --write

Update howitworks.md
  apps/docs/versioned_docs/version-V1/howitworks.md
Due: prettier --write

Update libsemaphore.md
  apps/docs/versioned_docs/version-V1/libsemaphore.md
Due: prettier --write

chore: fix typo in comment
  scripts/publish.ts
Due: prettier --write, eslint

docs fix spelling issues (#852)
  README.md
  apps/docs/versioned_docs/version-V1/contract-api.md
  apps/docs/versioned_docs/version-V1/howitworks.md
  apps/docs/versioned_docs/version-V1/libsemaphore.md
Due: prettier --write

chore: publish contracts to soldeer (#820)
  .eslintrc.json
  .gitignore
  .soldeerignore
  package.json
  scripts/clean-apps.ts
  scripts/clean-cli-templates.ts
  scripts/clean-packages.ts
  scripts/publish.ts
  scripts/remove-stable-version-field.ts
  scripts/version.ts
  yarn.lock
Due: prettier --write, eslint

chore(cli-template-monorepo-ethers): remove .env values
  packages/cli-template-monorepo-ethers/apps/web-app/.env.production
Due: none

chore(cli-template-monorepo-subgraph): change .env values
  packages/cli-template-monorepo-subgraph/apps/web-app/.env.production
Due: none
