Repository semaphore-protocol/semaphore: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

docs(website): added Bring ID data to projects list
  apps/website/src/data/projects.json
Due: prettier --write

docs(website): added Bring ID data to projects list (#1055)
  apps/website/src/data/projects.json
Due: prettier --write

fix(data/ethers): correct MembersAdded map type to string[] (#1033)
  packages/data/src/ethers.ts
Due: prettier --write, eslint

docs(identity): correct @returns to bigint for secretScalar and commitment (#1028)
  packages/identity/src/index.ts
Due: prettier --write, eslint

fix: Resolve #1056 - Replace `map()` with `forEach()`
  apps/subgraph/scripts/generate-subgraph.js
  apps/subgraph/src/utils.ts
Due: prettier --write, eslint

docs: fix incorrect default value in chunkArray JSDoc (#1038)
  apps/website/src/utils/chunkArray.ts
Due: prettier --write, eslint

Update circularSlice.ts
  apps/website/src/utils/circularSlice.ts
Due: prettier --write, eslint

docs(proof): add documentation on terminating the bn128 curve to prevent resource leaks (#998)
  packages/proof/README.md
Due: prettier --write

style(proof): format code with prettier
  packages/proof/README.md
Due: prettier --write

Dev (#1059)
  packages/proof/README.md
Due: prettier --write

chore(website): update roadmap
  apps/website/src/data/roadmap.json
Due: prettier --write

chore(website): update license year 2024 -> 2025
  LICENSE
  packages/circuits/LICENSE
  packages/cli/LICENSE
  packages/contracts/contracts/LICENSE
  packages/core/LICENSE
  packages/data/LICENSE
  packages/group/LICENSE
  packages/identity/LICENSE
  packages/proof/LICENSE
  packages/utils/LICENSE
Due: none

chore: update roadmap website and license year (#1060)
  LICENSE
  apps/website/src/data/roadmap.json
  packages/circuits/LICENSE
  packages/cli/LICENSE
  packages/contracts/contracts/LICENSE
  packages/core/LICENSE
  packages/data/LICENSE
  packages/group/LICENSE
  packages/identity/LICENSE
  packages/proof/LICENSE
  packages/utils/LICENSE
Due: prettier --write

fix: fix(scripts): replaced map with foreach func
  scripts/clean-apps.ts
  scripts/clean-cli-templates.ts
  scripts/clean-packages.ts
Due: prettier --write, eslint

fix(scripts): replaced map with foreach func (#1061)
  scripts/clean-apps.ts
  scripts/clean-cli-templates.ts
  scripts/clean-packages.ts
Due: prettier --write, eslint

feat(data): feat(data): add semaphore event listeners
  packages/data/src/ethers.ts
  packages/data/tests/ethers.test.ts
Due: prettier --write, eslint

feat(data): feat(data): add semaphore event listeners
  packages/data/tests/ethers.test.ts
Due: prettier --write, eslint

feat(data): feat(data) add semaphore event listeners
  packages/data/src/ethers.ts
  packages/data/tests/ethers.test.ts
Due: prettier --write, eslint

feat(data): feat(data) add semaphore event listeners
  packages/data/src/ethers.ts
Due: prettier --write, eslint

feat(data): add semaphore event listeners (#1054)
  packages/data/src/ethers.ts
  packages/data/tests/ethers.test.ts
Due: prettier --write, eslint

chore: v4.14.0
  apps/docs/package.json
  packages/circuits/package.json
  packages/cli-template-contracts-foundry/package.json
  packages/cli-template-contracts-hardhat/package.json
  packages/cli-template-monorepo-ethers/apps/contracts/package.json
  packages/cli-template-monorepo-ethers/apps/web-app/package.json
  packages/cli-template-monorepo-ethers/package.json
  packages/cli-template-monorepo-subgraph/apps/contracts/package.json
  packages/cli-template-monorepo-subgraph/apps/web-app/package.json
  packages/cli-template-monorepo-subgraph/package.json
  packages/cli/package.json
  packages/contracts/contracts/package.json
  packages/core/package.json
  packages/data/package.json
  packages/group/package.json
  packages/hardhat/package.json
  packages/identity/package.json
  packages/proof/package.json
  packages/utils/package.json
  yarn.lock
Due: prettier --write

docs(docs): info about anonymity groups
  apps/docs/versioned_docs/version-V4/faq.md
  apps/docs/versioned_docs/version-V4/glossary.md
  apps/docs/versioned_docs/version-V4/guides/groups.mdx
  apps/docs/versioned_docs/version-V4/guides/privacy-considerations.mdx
Due: prettier --write

docs(docs): fix link text
  apps/docs/versioned_docs/version-V4/guides/privacy-considerations.mdx
Due: none

Update index.ts
  packages/data/src/types/index.ts
Due: prettier --write, eslint

Update viem.ts
  packages/data/src/viem.ts
Due: prettier --write, eslint

Update subgraph.ts
  packages/data/src/subgraph.ts
Due: prettier --write, eslint

Update ethers.ts
  packages/data/src/ethers.ts
Due: prettier --write, eslint

Add timeout to axios request for latest version
  packages/cli/src/checkLatestVersion.ts
Due: prettier --write, eslint

chore: remove dead code from clean-packages script
  scripts/clean-packages.ts
Due: prettier --write, eslint

Update index.ts
  packages/identity/src/index.ts
Due: prettier --write, eslint

Update README.md
  packages/identity/README.md
Due: prettier --write

Update index.test.ts
  packages/identity/tests/index.test.ts
Due: prettier --write, eslint

Remove redundant group.save() in addValidatedProof
  apps/subgraph/src/semaphore.ts
Due: prettier --write, eslint

fix: correct ProofValidated event scope parameter in test assertions
  packages/contracts/test/Semaphore.ts
Due: prettier --write, eslint

fix: derive proof timestamps from block data
  packages/data/src/viem.ts
Due: prettier --write, eslint

docs(readme): correct artifact copy path and flattened destination filename
  packages/cli-template-monorepo-ethers/README.md
Due: prettier --write

Path conditions:
  prettier --write: any of: **/*.{js,ts,jsx,tsx,md,json,sol}
  eslint: any of: **/*.{js,ts,jsx,tsx}
