Repository semaphore-protocol/semaphore: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc.json:

{
    "**/*.{js,ts,jsx,tsx,md,json,sol}": "prettier --write",
    "**/*.{js,ts,jsx,tsx}": "eslint"
}

style(cli-template-monorepo-ethers): import globals css in layout
  packages/cli-template-monorepo-ethers/apps/web-app/src/app/layout.tsx
Due: prettier --write, eslint

style(cli-template-monorepo-ethers): remove chakra ui elements
  packages/cli-template-monorepo-ethers/apps/web-app/src/icons/IconAddCircleFill.tsx
  packages/cli-template-monorepo-ethers/apps/web-app/src/icons/IconCheck.tsx
  packages/cli-template-monorepo-ethers/apps/web-app/src/icons/IconChevronLeft.tsx
  packages/cli-template-monorepo-ethers/apps/web-app/src/icons/IconChevronRight.tsx
  packages/cli-template-monorepo-ethers/apps/web-app/src/icons/IconRefreshLine.tsx
  packages/cli-template-monorepo-ethers/apps/web-app/src/styles/colors.ts
  packages/cli-template-monorepo-ethers/apps/web-app/src/styles/components/Button.ts
  packages/cli-template-monorepo-ethers/apps/web-app/src/styles/components/Link.ts
  packages/cli-template-monorepo-ethers/apps/web-app/src/styles/components/Tooltip.ts
  packages/cli-template-monorepo-ethers/apps/web-app/src/styles/components/index.ts
  packages/cli-template-monorepo-ethers/apps/web-app/src/styles/index.ts
  packages/cli-template-monorepo-ethers/apps/web-app/src/styles/styles.ts
Due: prettier --write, eslint

refactor(cli-template-monorepo-ethers): remove chakra ui from layout
  packages/cli-template-monorepo-ethers/apps/web-app/src/app/layout.tsx
  packages/cli-template-monorepo-ethers/apps/web-app/src/app/providers.tsx
Due: prettier --write, eslint

refactor(cli-template-monorepo-ethers): remove chakra ui from PageContainer, Stepper
  packages/cli-template-monorepo-ethers/apps/web-app/src/components/PageContainer.tsx
  packages/cli-template-monorepo-ethers/apps/web-app/src/components/Stepper.tsx
Due: prettier --write, eslint

refactor(cli-template-contracts-foundry): change default Anvil address and private key
  packages/cli-template-contracts-foundry/Makefile
Due: none

chore(cli-template-contracts-foundry): add comments
  packages/cli-template-contracts-foundry/script/DeployFeedback.s.sol
  packages/cli-template-contracts-foundry/test/TestFeedback.t.sol
Due: prettier --write

refactor(cli-template-contracts-foundry): add Semaphore & SemaphoreVerifier addresses for test chain
  packages/cli-template-contracts-foundry/script/DeployFeedback.s.sol
Due: prettier --write

chore(cli-template-contracts-foundry): add forge coverage for Makefile
  packages/cli-template-contracts-foundry/Makefile
Due: none

chore(cli-template-contracts-foundry): add env.example
  packages/cli-template-contracts-foundry/.env.example
Due: none

docs(cli-template-contracts-foundry): add command instructions
  packages/cli-template-contracts-foundry/README.md
Due: prettier --write

style(cli-template-monorepo-ethers): add font link
  packages/cli-template-monorepo-ethers/apps/web-app/src/app/layout.tsx
Due: prettier --write, eslint

chore(cli-template-monorepo-ethers): remove unused groups page
  packages/cli-template-monorepo-ethers/apps/web-app/src/app/groups/page.tsx
Due: prettier --write, eslint

style(cli-template-monorepo-ethers): remove chakra ui from group page
  packages/cli-template-monorepo-ethers/apps/web-app/src/app/group/page.tsx
Due: prettier --write, eslint

style(cli-template-monorepo-ethers): remove chakra ui from proof page
  packages/cli-template-monorepo-ethers/apps/web-app/src/app/proofs/page.tsx
Due: prettier --write, eslint

style(cli-template-monorepo-ethers): update css and add class names
  packages/cli-template-monorepo-ethers/apps/web-app/src/app/globals.css
  packages/cli-template-monorepo-ethers/apps/web-app/src/app/page.tsx
  packages/cli-template-monorepo-ethers/apps/web-app/src/components/PageContainer.tsx
  packages/cli-template-monorepo-ethers/apps/web-app/src/components/Stepper.tsx
Due: prettier --write, eslint

docs(website): add new project
  apps/website/src/data/projects.json
Due: prettier --write

docs(website): add new project (#856)
  apps/website/src/data/projects.json
Due: prettier --write

docs(website): update events
  apps/website/src/data/events.json
Due: prettier --write

docs(website): update events (#857)
  apps/website/src/data/events.json
Due: prettier --write

style(cli-template-monorepo-ethers): add css declarations
  packages/cli-template-monorepo-ethers/apps/web-app/src/app/globals.css
Due: none

style(cli-template-monorepo-ethers): add github icon
  packages/cli-template-monorepo-ethers/apps/web-app/src/components/PageContainer.tsx
Due: prettier --write, eslint

style(cli-template-monorepo-ethers): add left arrow on stepper
  packages/cli-template-monorepo-ethers/apps/web-app/src/components/Stepper.tsx
Due: prettier --write, eslint

style(cli-template-monorepo-ethers): remove chakra from proofs page
  packages/cli-template-monorepo-ethers/apps/web-app/src/app/proofs/page.tsx
Due: prettier --write, eslint

style(cli-template-monorepo-ethers): minor style improvements
  packages/cli-template-monorepo-ethers/apps/web-app/src/app/group/page.tsx
  packages/cli-template-monorepo-ethers/apps/web-app/src/app/page.tsx
Due: prettier --write, eslint

style(cli-template-monorepo-ethers): remove chakra libraries from package.json
  packages/cli-template-monorepo-ethers/apps/web-app/package.json
Due: prettier --write

refactor(cli-template-monorepo-ethers): update yarn.lock file after package.json modified
  yarn.lock
Due: none

style(cli-template-monorepo-ethers): fix deepscan issues
  packages/cli-template-monorepo-ethers/apps/web-app/src/app/proofs/page.tsx
  packages/cli-template-monorepo-ethers/apps/web-app/src/components/PageContainer.tsx
Due: prettier --write, eslint

chore(contracts): deploy contracts on arbitrum
  apps/subgraph/README.md
  apps/subgraph/scripts/generate-subgraph.js
  packages/contracts/package.json
  packages/data/src/semaphoreABI.json
  packages/utils/src/networks/deployed-contracts.json
  packages/utils/src/networks/supported-networks.ts
  packages/utils/src/semaphore-abi.json
Due: prettier --write, eslint

chore(contracts): deploy contracts on polygon
  apps/subgraph/README.md
  packages/utils/src/networks/deployed-contracts.json
  packages/utils/src/networks/supported-networks.ts
Due: prettier --write, eslint

chore(contracts): deploy contracts on optimism
  apps/subgraph/README.md
  packages/utils/src/networks/deployed-contracts.json
  packages/utils/src/networks/supported-networks.ts
Due: prettier --write, eslint

Chore/mainnet deployments (#862)
  apps/subgraph/README.md
  apps/subgraph/scripts/generate-subgraph.js
  packages/contracts/package.json
  packages/data/src/semaphoreABI.json
  packages/utils/src/networks/deployed-contracts.json
  packages/utils/src/networks/supported-networks.ts
  packages/utils/src/semaphore-abi.json
Due: prettier --write, eslint

chore: v4.1.0
  apps/docs/package.json
  apps/subgraph/package.json
  packages/circuits/package.json
  packages/cli-template-contracts-hardhat/package.json
  packages/cli-template-monorepo-ethers/apps/contracts/package.json
  packages/cli-template-monorepo-ethers/apps/web-app/package.json
  packages/cli-template-monorepo-ethers/package.json
  packages/cli-template-monorepo-subgraph/apps/contracts/package.json
  packages/cli-template-monorepo-subgraph/apps/web-app/package.json
  packages/cli-template-monorepo-subgraph/package.json
  packages/cli/package.json
  packages/contracts/contracts/package.json
  packages/core/package.json
  packages/data/package.json
  packages/group/package.json
  packages/hardhat/package.json
  packages/identity/package.json
  packages/proof/package.json
  packages/utils/package.json
  yarn.lock
Due: prettier --write

chore(contracts): deploy contracts on base sepolia
  packages/data/src/getURL.ts
  packages/utils/src/networks/deployed-contracts.json
  packages/utils/src/networks/supported-networks.ts
Due: prettier --write, eslint

chore(contracts): deploy contracts on linea sepolia
  apps/subgraph/README.md
  apps/subgraph/package.json
  packages/contracts/hardhat.config.ts
  packages/utils/src/networks/deployed-contracts.json
  packages/utils/src/networks/supported-networks.ts
  yarn.lock
Due: prettier --write, eslint

Chore/new testnets (#864)
  apps/subgraph/README.md
  apps/subgraph/package.json
  packages/contracts/hardhat.config.ts
  packages/data/src/getURL.ts
  packages/utils/src/networks/deployed-contracts.json
  packages/utils/src/networks/supported-networks.ts
  yarn.lock
Due: prettier --write, eslint
