Repository semaphore-protocol/semaphore: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

ci: fetch latest contract version from soldeer
  scripts/publish.ts
Due: prettier --write, eslint

refactor: do not use execa in scripts
  package.json
  scripts/clean-apps.ts
  scripts/clean-cli-templates.ts
  scripts/clean-packages.ts
  scripts/publish.ts
  scripts/version.ts
  yarn.lock
Due: prettier --write, eslint

fix: do not exit process in script
  scripts/remove-stable-version-field.ts
Due: prettier --write, eslint

chore: remove comments
  scripts/version.ts
Due: prettier --write, eslint

refactor: use shebang in ts scripts
  package.json
  scripts/clean-apps.ts
  scripts/clean-cli-templates.ts
  scripts/clean-packages.ts
Due: prettier --write, eslint

chore(contracts): add soldeerignore
  .gitignore
  .soldeerignore
Due: none

chore: inherit stdio in scripts
  scripts/publish.ts
  scripts/version.ts
Due: prettier --write, eslint

chore: remove dry run flag
  scripts/publish.ts
Due: prettier --write, eslint

chore: uncomment
  scripts/publish.ts
Due: prettier --write, eslint

refactor(cli-template-monorepo-ethers): installs ncp and exports Semaphore Abi byte code
  package.json
  packages/contracts/package.json
  packages/utils/src/constants.ts
  yarn.lock
Due: prettier --write, eslint

refactor(contracts): added a script that automates movement of semaphore-abi.json
  package.json
  packages/cli-template-monorepo-ethers/apps/web-app/public/sw.js
  packages/cli-template-monorepo-ethers/apps/web-app/public/workbox-4bc0707b.js
  packages/cli-template-monorepo-subgraph/apps/web-app/next-env.d.ts
  packages/cli-template-monorepo-subgraph/apps/web-app/public/sw.js
  packages/cli-template-monorepo-subgraph/apps/web-app/public/workbox-4bc0707b.js
  packages/contracts/package.json
  packages/utils/src/constants.ts
  packages/utils/src/semaphore-interface.json
  yarn.lock
Due: prettier --write, eslint

chore(cli): changed the dependency and moved to ncp for copying semaphore abi
  packages/contracts/package.json
Due: prettier --write

chore(utils): changed ab to _interface and update to package.json
  package.json
  packages/utils/src/constants.ts
Due: prettier --write, eslint

chore(cli): deleted Cli-template file and made a document change
  README.md
  package.json
  packages/cli-template-monorepo-ethers/apps/web-app/public/sw.js
  packages/cli-template-monorepo-ethers/apps/web-app/public/workbox-4bc0707b.js
  packages/cli-template-monorepo-subgraph/apps/web-app/next-env.d.ts
  packages/cli-template-monorepo-subgraph/apps/web-app/public/sw.js
  packages/cli-template-monorepo-subgraph/apps/web-app/public/workbox-4bc0707b.js
  packages/contracts/package.json
  yarn.lock
Due: prettier --write, eslint

Refactor/sempahore abi to utils (#818)
  README.md
  packages/contracts/package.json
  packages/data/src/ethers.ts
  packages/utils/src/constants.ts
  packages/utils/src/semaphore-interface.json
  yarn.lock
Due: prettier --write, eslint

build: build components sequentially
  .github/workflows/production.yml
  apps/subgraph/abis/Semaphore.json
  apps/subgraph/package.json
  apps/subgraph/subgraph.template.yaml
  package.json
Due: prettier --write

docs: add link to pse acceleration program
  README.md
  apps/website/src/app/build/page.tsx
Due: prettier --write, eslint

docs: add link to pse acceleration program (#822)
  README.md
  apps/website/src/app/build/page.tsx
Due: prettier --write, eslint

build: build components sequentially (#821)
  .github/workflows/production.yml
  apps/subgraph/abis/Semaphore.json
  apps/subgraph/package.json
  apps/subgraph/subgraph.template.yaml
  package.json
Due: prettier --write

chore(contracts): add custom chain config for etherscan api
  packages/contracts/hardhat.config.ts
Due: prettier --write, eslint

chore(contracts): add custom chain config for etherscan api (#823)
  packages/contracts/hardhat.config.ts
Due: prettier --write, eslint

docs(website): adding AsteriskDAO to project list
  apps/website/src/data/projects.json
Due: prettier --write

docs(website): adding AsteriskDAO to project list (#824)
  apps/website/src/data/projects.json
Due: prettier --write

chore: update verification keys
  packages/contracts/contracts/base/SemaphoreVerifier.sol
  packages/proof/src/generate-proof.ts
  packages/proof/src/verification-keys.json
  packages/utils/src/semaphore-abi.json
Due: prettier --write, eslint

fix(contracts): update verification key parameters
  packages/contracts/contracts/base/SemaphoreVerifier.sol
Due: prettier --write

chore: deploy contracts
  packages/utils/src/networks/deployed-contracts.json
Due: prettier --write

chore(contracts): remove script to copy abi after compiling
  packages/contracts/package.json
Due: prettier --write

chore: update verification keys and deploy contracts (#826)
  packages/contracts/contracts/base/SemaphoreVerifier.sol
  packages/contracts/package.json
  packages/proof/src/generate-proof.ts
  packages/proof/src/verification-keys.json
  packages/utils/src/networks/deployed-contracts.json
  packages/utils/src/semaphore-abi.json
Due: prettier --write, eslint

chore(subgraph): deploy new subgraphs
  apps/subgraph/README.md
  apps/subgraph/package.json
  packages/data/src/getURL.ts
  yarn.lock
Due: prettier --write, eslint

chore: v4.0.0-beta.17
  apps/docs/package.json
  apps/subgraph/package.json
  packages/circuits/package.json
  packages/cli-template-contracts-hardhat/package.json
  packages/cli-template-monorepo-ethers/apps/contracts/package.json
  packages/cli-template-monorepo-ethers/apps/web-app/package.json
  packages/cli-template-monorepo-ethers/package.json
  packages/cli-template-monorepo-subgraph/apps/contracts/package.json
  packages/cli-template-monorepo-subgraph/apps/web-app/package.json
  packages/cli-template-monorepo-subgraph/package.json
  packages/cli/package.json
  packages/contracts/contracts/package.json
  packages/core/package.json
  packages/data/package.json
  packages/group/package.json
  packages/hardhat/package.json
  packages/identity/package.json
  packages/proof/package.json
  packages/utils/package.json
  yarn.lock
Due: prettier --write

refactor(cli): create an empty yarn.lock file when generating a semaphore project with the cli
  packages/cli/src/index.ts
Due: prettier --write, eslint

refactor(cli): create an empty yarn.lock file when generating a semahore project with the cli (#828)
  packages/cli/src/index.ts
Due: prettier --write, eslint

Path conditions:
  prettier --write: any of: **/*.{js,ts,jsx,tsx,md,json,sol}
  eslint: any of: **/*.{js,ts,jsx,tsx}
