Repository semaphore-protocol/semaphore: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

fix: Fix potential undefined error in data[0]?.version and improve error handling
  scripts/publish.ts
Due: prettier --write, eslint

fix: clean node_modules before build contracts
  apps/subgraph/package.json
Due: prettier --write

chore: added rimraf
  yarn.lock
Due: none

refactor(subgraph): fixing build errors
  apps/subgraph/package.json
Due: prettier --write

typos howitworks.md
  apps/docs/i18n/es/docusaurus-plugin-content-docs/version-V1/howitworks.md
Due: prettier --write

typos what-is-semaphore.md
  apps/docs/i18n/es/docusaurus-plugin-content-docs/version-V1/what-is-semaphore.md
Due: prettier --write

typo-Update README.md
  README.md
Due: prettier --write

Update Semaphore.sol
  packages/contracts/contracts/Semaphore.sol
Due: prettier --write

docs: update contributing and pull_request_template files
  .github/pull_request_template.md
  CONTRIBUTING.md
Due: prettier --write

chore: fix 404 status URL
  apps/docs/i18n/es/docusaurus-plugin-content-docs/version-V3/technical-reference/contracts.md
Due: prettier --write

fix: Replace map with forEach to avoid unnecessary array creation
  scripts/clean-packages.ts
Due: prettier --write, eslint

feat(website): add obscurus to projects section
  apps/website/src/data/projects.json
Due: prettier --write

feat(website): add obscurus to projects section (#941)
  apps/website/src/data/projects.json
Due: prettier --write

chore: fix 404 status URL (#917)
  apps/docs/i18n/es/docusaurus-plugin-content-docs/version-V3/technical-reference/contracts.md
Due: prettier --write

docs(website): update roadmap on the website
  apps/website/src/app/page.tsx
  apps/website/src/data/roadmap.json
Due: prettier --write, eslint

docs(website): update roadmap (#943)
  apps/website/src/app/page.tsx
  apps/website/src/data/roadmap.json
Due: prettier --write, eslint

docs: make year update dynamically on website and docs
  apps/website/src/components/Footer.tsx
Due: prettier --write, eslint

docs(docs): make year update dynamically
  apps/docs/i18n/en/code.json
  apps/docs/i18n/es/code.json
  apps/docs/src/theme/Footer/index.tsx
Due: prettier --write, eslint

docs: make year update dynamically on website and docs (#945)
  apps/docs/i18n/en/code.json
  apps/docs/i18n/es/code.json
  apps/docs/src/theme/Footer/index.tsx
  apps/website/src/components/Footer.tsx
Due: prettier --write, eslint

chore(subgraph): update matchstick-as dependency
  apps/subgraph/package.json
  yarn.lock
Due: prettier --write

chore: fix some typos
  README.md
  apps/docs/i18n/es/docusaurus-plugin-content-docs/version-V1/what-is-semaphore.md
  apps/docs/i18n/es/docusaurus-plugin-content-docs/version-V2/subgraph.md
  apps/docs/i18n/es/docusaurus-plugin-content-docs/version-V3/technical-reference/circuits.md
Due: prettier --write

docs: fix broken link and typo correction (#923)
  CONTRIBUTING.md
  README.md
Due: prettier --write

docs: fixed circuit logic url (#931)
  apps/docs/versioned_docs/version-V4/what-is-semaphore.md
Due: prettier --write

chore(subgraph): update dependency versions
  apps/subgraph/package.json
  yarn.lock
Due: prettier --write

ci: update pull request workflow to install libssl1.1 before testing the subgraph
  .github/workflows/pull-requests.yml
Due: none

ci: update pull requests workflow
  .github/workflows/pull-requests.yml
Due: none

ci: update ubuntu version
  .github/workflows/pull-requests.yml
Due: none

Update broken links subgraph.md
  apps/docs/i18n/es/docusaurus-plugin-content-docs/version-V2/subgraph.md
Due: prettier --write

ci: update ubuntu version in tests
  .github/workflows/pull-requests.yml
Due: none

ci: update ubuntu version
  .github/workflows/production.yml
  .github/workflows/pull-requests.yml
Due: none

chore(subgraph): update matchstick-as dependency (#946)
  .github/workflows/production.yml
  .github/workflows/pull-requests.yml
  apps/subgraph/package.json
  yarn.lock
Due: prettier --write

Path conditions:
  prettier --write: any of: **/*.{js,ts,jsx,tsx,md,json,sol}
  eslint: any of: **/*.{js,ts,jsx,tsx}
