Repository semaphore-protocol/semaphore: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

chore(group): update lean-imt version 2.2.3 -> 2.2.4
  packages/group/package.json
  yarn.lock
Due: prettier --write

chore(group): update lean-imt version 2.2.3 -> 2.2.4 (#1010)
  packages/group/package.json
  yarn.lock
Due: prettier --write

chore: v4.12.1
  apps/docs/package.json
  packages/circuits/package.json
  packages/cli-template-contracts-foundry/package.json
  packages/cli-template-contracts-hardhat/package.json
  packages/cli-template-monorepo-ethers/apps/contracts/package.json
  packages/cli-template-monorepo-ethers/apps/web-app/package.json
  packages/cli-template-monorepo-ethers/package.json
  packages/cli-template-monorepo-subgraph/apps/contracts/package.json
  packages/cli-template-monorepo-subgraph/apps/web-app/package.json
  packages/cli-template-monorepo-subgraph/package.json
  packages/cli/package.json
  packages/contracts/contracts/package.json
  packages/core/package.json
  packages/data/package.json
  packages/group/package.json
  packages/hardhat/package.json
  packages/identity/package.json
  packages/proof/package.json
  packages/utils/package.json
  yarn.lock
Due: prettier --write

refactor: update the proof package and smart contracts with new zk artifacts
  packages/contracts/contracts/base/Constants.sol
  packages/contracts/contracts/base/SemaphoreGroups.sol
  packages/contracts/contracts/base/SemaphoreVerifier.sol
  packages/contracts/contracts/base/SemaphoreVerifierKeyPts.sol
  packages/proof/package.json
  packages/proof/src/generate-proof.ts
  packages/proof/src/verification-keys.json
  yarn.lock
Due: prettier --write, eslint

refactor: update the proof package and smart contracts (#1011)
  packages/contracts/contracts/base/Constants.sol
  packages/contracts/contracts/base/SemaphoreGroups.sol
  packages/contracts/contracts/base/SemaphoreVerifier.sol
  packages/contracts/contracts/base/SemaphoreVerifierKeyPts.sol
  packages/proof/package.json
  packages/proof/src/generate-proof.ts
  packages/proof/src/verification-keys.json
  yarn.lock
Due: prettier --write, eslint

docs(docs): updated llms.txt to v4
  apps/docs/static/llms.txt
Due: none

fix: under constrained bug binary merkle root (#1012)
  package.json
  packages/circuits/package.json
  packages/circuits/src/semaphore.circom
  packages/circuits/tests/common.ts
  packages/circuits/tests/semaphore.test.ts
  packages/contracts/contracts/base/Constants.sol
  packages/contracts/contracts/base/SemaphoreGroups.sol
  packages/contracts/contracts/base/SemaphoreVerifier.sol
  packages/contracts/contracts/base/SemaphoreVerifierKeyPts.sol
  packages/proof/package.json
  packages/proof/src/generate-proof.ts
  packages/proof/src/verification-keys.json
  yarn.lock
Due: prettier --write, eslint

chore: v4.13.0-beta.0
  apps/docs/package.json
  packages/circuits/package.json
  packages/cli-template-contracts-foundry/package.json
  packages/cli-template-contracts-hardhat/package.json
  packages/cli-template-monorepo-ethers/apps/contracts/package.json
  packages/cli-template-monorepo-ethers/apps/web-app/package.json
  packages/cli-template-monorepo-ethers/package.json
  packages/cli-template-monorepo-subgraph/apps/contracts/package.json
  packages/cli-template-monorepo-subgraph/apps/web-app/package.json
  packages/cli-template-monorepo-subgraph/package.json
  packages/cli/package.json
  packages/contracts/contracts/package.json
  packages/core/package.json
  packages/data/package.json
  packages/group/package.json
  packages/hardhat/package.json
  packages/identity/package.json
  packages/proof/package.json
  packages/utils/package.json
  yarn.lock
Due: prettier --write

docs(docs): add llm setup docs (#993)
  apps/docs/static/llms.txt
  apps/docs/versioned_docs/version-V4/credits.md
  apps/docs/versioned_docs/version-V4/faq.md
  apps/docs/versioned_docs/version-V4/llm-setup.md
  apps/docs/versioned_docs/version-V4/troubleshooting.md
Due: prettier --write

refactor(contracts): update solidity version in contracts
  packages/contracts/contracts/Semaphore.sol
  packages/contracts/contracts/interfaces/ISemaphore.sol
  packages/contracts/contracts/interfaces/ISemaphoreGroups.sol
  packages/contracts/contracts/interfaces/ISemaphoreVerifier.sol
Due: prettier --write

refactor(contracts): update solidity version in contracts (#1013)
  packages/contracts/contracts/Semaphore.sol
  packages/contracts/contracts/interfaces/ISemaphore.sol
  packages/contracts/contracts/interfaces/ISemaphoreGroups.sol
  packages/contracts/contracts/interfaces/ISemaphoreVerifier.sol
Due: prettier --write

feat(website): add trusted setup ceremony announcement to banner and events
  apps/website/src/app/layout.tsx
  apps/website/src/data/events.json
Due: prettier --write, eslint

feat(docs): add trusted setup ceremony announcement to banner and new page with contribution steps
  apps/docs/docusaurus.config.ts
  apps/docs/versioned_docs/version-V4/trusted-setup.md
Due: prettier --write, eslint

docs(docs): update trusted setup ceremomy year in events
  apps/website/src/data/events.json
Due: prettier --write

docs(website): add exclamation mark to the banner
  apps/website/src/app/layout.tsx
Due: prettier --write, eslint

chore: v4.13.0-beta.1
  apps/docs/package.json
  packages/circuits/package.json
  packages/cli-template-contracts-foundry/package.json
  packages/cli-template-contracts-hardhat/package.json
  packages/cli-template-monorepo-ethers/apps/contracts/package.json
  packages/cli-template-monorepo-ethers/apps/web-app/package.json
  packages/cli-template-monorepo-ethers/package.json
  packages/cli-template-monorepo-subgraph/apps/contracts/package.json
  packages/cli-template-monorepo-subgraph/apps/web-app/package.json
  packages/cli-template-monorepo-subgraph/package.json
  packages/cli/package.json
  packages/contracts/contracts/package.json
  packages/core/package.json
  packages/data/package.json
  packages/group/package.json
  packages/hardhat/package.json
  packages/identity/package.json
  packages/proof/package.json
  packages/utils/package.json
  yarn.lock
Due: prettier --write

feat(website): add trusted setup ceremony to website (#1015)
  apps/website/src/app/layout.tsx
  apps/website/src/data/events.json
Due: prettier --write, eslint

docs(docs): update ceremony settings section in trusted-setup file
  apps/docs/versioned_docs/version-V4/trusted-setup.md
Due: prettier --write

feat(docs): add trusted setup ceremony to docs (#1016)
  apps/docs/docusaurus.config.ts
  apps/docs/versioned_docs/version-V4/trusted-setup.md
Due: prettier --write, eslint

Update decode-message.ts
  packages/utils/src/decode-message.ts
Due: prettier --write, eslint

docs(docs): update deploy contracts command
  apps/docs/versioned_docs/version-V4/getting-started.mdx
Due: none

docs(docs): update deploy contracts command (#1019)
  apps/docs/versioned_docs/version-V4/getting-started.mdx
Due: none

Update proofs.mdx
  apps/docs/versioned_docs/version-V4/guides/proofs.mdx
Due: none

docs(docs): update ceremony closing time
  apps/docs/versioned_docs/version-V4/trusted-setup.md
Due: prettier --write

docs(docs): update ceremony closing time (#1021)
  apps/docs/versioned_docs/version-V4/trusted-setup.md
Due: prettier --write

chore: fix broken url in apps/subgraph/README.md
  apps/subgraph/README.md
Due: prettier --write

Fix invalid components in Chakra UI (#964)
  apps/website/src/app/page.tsx
  apps/website/src/app/projects/page.tsx
  apps/website/src/components/Carousel.tsx
  apps/website/src/components/InfoCard.tsx
  apps/website/src/components/ProjectsList.tsx
  apps/website/src/components/SectionBlock.tsx
Due: prettier --write, eslint

docs(website): add noircon2 presentation video
  apps/website/src/data/videos.json
Due: prettier --write

docs: update ceremony end date
  apps/docs/docusaurus.config.ts
  apps/website/src/app/layout.tsx
Due: prettier --write, eslint

fix: optimize BigInt usage in hash function (#1003)
  packages/proof/src/hash.ts
Due: prettier --write, eslint

fix: improve error handling in toBigInt function
  packages/proof/src/to-bigint.ts
Due: prettier --write, eslint

Update packages/proof/src/to-bigint.ts
  packages/proof/src/to-bigint.ts
Due: prettier --write, eslint

fix: improve error handling in toBigInt function (#1025)
  packages/proof/src/to-bigint.ts
Due: prettier --write, eslint

Update page.tsx
  apps/website/src/app/build/page.tsx
Due: prettier --write, eslint

Update page.tsx
  apps/website/src/app/page.tsx
Due: prettier --write, eslint

Update Carousel.tsx
  apps/website/src/components/Carousel.tsx
Due: prettier --write, eslint

Update InfoCard.tsx
  apps/website/src/components/InfoCard.tsx
Due: prettier --write, eslint

Path conditions:
  prettier --write: any of: **/*.{js,ts,jsx,tsx,md,json,sol}
  eslint: any of: **/*.{js,ts,jsx,tsx}
