Repository semaphore-protocol/semaphore: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc.json:

{
    "**/*.{js,ts,jsx,tsx,md,json,sol}": "prettier --write",
    "**/*.{js,ts,jsx,tsx}": "eslint"
}

chore(cli-template-monorepo-ethers): update .gitignore file
  packages/cli-template-monorepo-ethers/apps/web-app/.gitignore
Due: none

chore(cli-template-monorepo-subgraph): update .gitignore file
  packages/cli-template-monorepo-subgraph/apps/web-app/.gitignore
Due: none

chore: replace discord link with telegram
  README.md
  apps/docs/README.md
  apps/docs/docusaurus.config.ts
  apps/docs/i18n/en/code.json
  apps/docs/i18n/es/code.json
  apps/docs/i18n/es/docusaurus-plugin-content-docs/version-V3/faq.md
  apps/docs/i18n/es/docusaurus-plugin-content-docs/version-V3/troubleshooting.mdx
  apps/docs/src/theme/Footer/index.tsx
  apps/docs/versioned_docs/version-V3/faq.md
  apps/docs/versioned_docs/version-V3/troubleshooting.mdx
  apps/docs/versioned_docs/version-V4/faq.md
  apps/docs/versioned_docs/version-V4/troubleshooting.md
  apps/subgraph/README.md
  apps/website/README.md
  apps/website/src/app/page.tsx
  apps/website/src/components/Footer.tsx
  apps/website/src/components/Navbar.tsx
  apps/website/src/data/projects.json
  apps/website/src/icons/IconTelegram.tsx
  packages/circuits/README.md
  packages/cli/README.md
  packages/contracts/contracts/README.md
  packages/core/README.md
  packages/data/README.md
  packages/group/README.md
  packages/hardhat/README.md
  packages/identity/README.md
  packages/proof/README.md
  packages/utils/README.md
Due: prettier --write, eslint

chore: replace discord link with telegram (#853)
  README.md
  apps/docs/README.md
  apps/docs/docusaurus.config.ts
  apps/docs/i18n/en/code.json
  apps/docs/i18n/es/code.json
  apps/docs/i18n/es/docusaurus-plugin-content-docs/version-V3/faq.md
  apps/docs/i18n/es/docusaurus-plugin-content-docs/version-V3/troubleshooting.mdx
  apps/docs/src/theme/Footer/index.tsx
  apps/docs/versioned_docs/version-V3/faq.md
  apps/docs/versioned_docs/version-V3/troubleshooting.mdx
  apps/docs/versioned_docs/version-V4/faq.md
  apps/docs/versioned_docs/version-V4/troubleshooting.md
  apps/subgraph/README.md
  apps/website/README.md
  apps/website/src/app/page.tsx
  apps/website/src/components/Footer.tsx
  apps/website/src/components/Navbar.tsx
  apps/website/src/data/projects.json
  apps/website/src/icons/IconTelegram.tsx
  packages/circuits/README.md
  packages/cli/README.md
  packages/contracts/contracts/README.md
  packages/core/README.md
  packages/data/README.md
  packages/group/README.md
  packages/hardhat/README.md
  packages/identity/README.md
  packages/proof/README.md
  packages/utils/README.md
Due: prettier --write, eslint

forge install: forge-std
  .gitmodules
Due: none

chore: forge init
  packages/cli-template-contracts-foundry/.github/workflows/test.yml
  packages/cli-template-contracts-foundry/.gitignore
  packages/cli-template-contracts-foundry/README.md
  packages/cli-template-contracts-foundry/foundry.toml
  packages/cli-template-contracts-foundry/script/Counter.s.sol
  packages/cli-template-contracts-foundry/src/Counter.sol
  packages/cli-template-contracts-foundry/test/Counter.t.sol
Due: prettier --write

forge install: semaphore
  .gitmodules
Due: none

forge install: zk-kit.solidity
  .gitmodules
Due: none

forge install: poseidon-solidity
  .gitmodules
Due: none

forge install: openzeppelin-contracts
  .gitmodules
Due: none

modules
  packages/cli-template-contracts-foundry/test/TestFeedback.t.sol
Due: prettier --write

modules
  packages/cli-template-contracts-foundry/script/DeployFeedback.s.sol
Due: prettier --write

modules
  packages/cli-template-contracts-foundry/.github/workflows/test.yml
  packages/cli-template-contracts-foundry/test/TestFeedback.t.sol
Due: prettier --write
